<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.merchant.mapper.MerchantGoodsImageInfoMapper">

    <resultMap id="MerchantGoodsImageResult" type="MerchantGoodsImage">
        <result property="merchantGoodsImageId" column="merchant_goods_image_id"/>
        <result property="merchantGoodsId" column="merchant_goods_id"/>
        <result property="imageUrl" column="image_url"/>
        <result property="imageDesc" column="image_desc"/>
        <result property="sortOrder" column="sort_order"/>
        <result property="isMain" column="is_main"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectMerchantGoodsImageByMerchantGoodsImageId" parameterType="Long" resultMap="MerchantGoodsImageResult">
        select * from merchant_goods_image where merchant_goods_image_id = #{merchantGoodsImageId}
    </select>

    <update id="updateMerchantGoodsImage" parameterType="MerchantGoodsImage">
        update merchant_goods_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantGoodsId != null">merchant_goods_id = #{merchantGoodsId},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="imageDesc != null and imageDesc != ''">image_desc = #{imageDesc},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="isMain != null">is_main = #{isMain},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where merchant_goods_image_id = #{merchantGoodsImageId}
    </update>
</mapper>