<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.merchant.mapper.MerchantGoodsInfoMapper">

    <resultMap id="MerchantGoodsResult" type="MerchantGoods">
        <result property="merchantGoodsId" column="merchant_goods_id"/>
        <result property="merchantBaseId" column="merchant_base_id"/>
        <result property="goodsName" column="goods_name"/>
        <result property="category" column="category"/>
        <result property="subCategory" column="sub_category"/>
        <result property="price" column="price"/>
        <result property="originalPrice" column="original_price"/>
        <result property="stock" column="stock"/>
        <result property="salesCount" column="sales_count"/>
        <result property="description" column="description"/>
        <result property="tagCodes" column="tag_codes"/>
        <result property="status" column="status"/>
        <result property="avgRating" column="avg_rating"/>
        <result property="ratingCount" column="rating_count"/>
        <result property="fiveStarRate" column="five_star_rate"/>
        <result property="fourStarRate" column="four_star_rate"/>
        <result property="threeStarRate" column="three_star_rate"/>
        <result property="twoStarRate" column="two_star_rate"/>
        <result property="oneStarRate" column="one_star_rate"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectMerchantGoodsByMerchantGoodsId" parameterType="Long" resultMap="MerchantGoodsResult">
        select * from merchant_goods where merchant_goods_id = #{merchantGoodsId}
    </select>

    <update id="updateMerchantGoods" parameterType="MerchantGoods">
        update merchant_goods
        <trim prefix="SET" suffixOverrides=",">
            <if test="merchantBaseId != null">merchant_base_id = #{merchantBaseId},</if>
            <if test="goodsName != null and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="category != null and category != ''">category = #{category},</if>
            <if test="subCategory != null and subCategory != ''">sub_category = #{subCategory},</if>
            <if test="price != null">price = #{price},</if>
            <if test="originalPrice != null">original_price = #{originalPrice},</if>
            <if test="stock != null">stock = #{stock},</if>
            <if test="salesCount != null">sales_count = #{salesCount},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="tagCodes != null and tagCodes != ''">tag_codes = #{tagCodes},</if>
            <if test="status != null">status = #{status},</if>
            <if test="avgRating != null">avg_rating = #{avgRating},</if>
            <if test="ratingCount != null">rating_count = #{ratingCount},</if>
            <if test="fiveStarRate != null">five_star_rate = #{fiveStarRate},</if>
            <if test="fourStarRate != null">four_star_rate = #{fourStarRate},</if>
            <if test="threeStarRate != null">three_star_rate = #{threeStarRate},</if>
            <if test="twoStarRate != null">two_star_rate = #{twoStarRate},</if>
            <if test="oneStarRate != null">one_star_rate = #{oneStarRate},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where merchant_goods_id = #{merchantGoodsId}
    </update>
</mapper>