<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.OrderDeliveryMapper">
    
    <resultMap type="OrderDelivery" id="OrderDeliveryResult">
        <result property="orderDeliveryId"    column="order_delivery_id"    />
        <result property="orderMainId"    column="order_main_id"    />
        <result property="riderId"    column="rider_id"    />
        <result property="riderNickname"    column="rider_nickname"    />
        <result property="deliveryFee"    column="delivery_fee"    />
        <result property="actualPickLongitude"    column="actual_pick_longitude"    />
        <result property="actualPickLatitude"    column="actual_pick_latitude"    />
        <result property="actualDeliverLongitude"    column="actual_deliver_longitude"    />
        <result property="actualDeliverLatitude"    column="actual_deliver_latitude"    />
        <result property="assignTime"    column="assign_time"    />
        <result property="receiveTime"    column="receive_time"    />
        <result property="pickTime"    column="pick_time"    />
        <result property="deliverTime"    column="deliver_time"    />
        <result property="deliveryStatus"    column="delivery_status"    />
    </resultMap>

    <sql id="selectOrderDeliveryVo">
        select order_delivery_id, order_main_id, rider_id, rider_nickname, delivery_fee, actual_pick_longitude, actual_pick_latitude, actual_deliver_longitude, actual_deliver_latitude, assign_time, receive_time, pick_time, deliver_time, delivery_status from order_delivery
    </sql>

    <select id="selectOrderDeliveryList" parameterType="OrderDelivery" resultMap="OrderDeliveryResult">
        <include refid="selectOrderDeliveryVo"/>
        <where>  
            <if test="orderMainId != null "> and order_main_id = #{orderMainId}</if>
            <if test="riderId != null "> and rider_id = #{riderId}</if>
            <if test="riderNickname != null  and riderNickname != ''"> and rider_nickname like concat('%', #{riderNickname}, '%')</if>
            <if test="deliveryFee != null "> and delivery_fee = #{deliveryFee}</if>
            <if test="actualPickLongitude != null "> and actual_pick_longitude = #{actualPickLongitude}</if>
            <if test="actualPickLatitude != null "> and actual_pick_latitude = #{actualPickLatitude}</if>
            <if test="actualDeliverLongitude != null "> and actual_deliver_longitude = #{actualDeliverLongitude}</if>
            <if test="actualDeliverLatitude != null "> and actual_deliver_latitude = #{actualDeliverLatitude}</if>
            <if test="assignTime != null "> and assign_time = #{assignTime}</if>
            <if test="receiveTime != null "> and receive_time = #{receiveTime}</if>
            <if test="pickTime != null "> and pick_time = #{pickTime}</if>
            <if test="deliverTime != null "> and deliver_time = #{deliverTime}</if>
            <if test="deliveryStatus != null "> and delivery_status = #{deliveryStatus}</if>
        </where>
    </select>
    
    <select id="selectOrderDeliveryByOrderDeliveryId" parameterType="Long" resultMap="OrderDeliveryResult">
        <include refid="selectOrderDeliveryVo"/>
        where order_delivery_id = #{orderDeliveryId}
    </select>

    <insert id="insertOrderDelivery" parameterType="OrderDelivery">
        insert into order_delivery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderDeliveryId != null">order_delivery_id,</if>
            <if test="orderMainId != null">order_main_id,</if>
            <if test="riderId != null">rider_id,</if>
            <if test="riderNickname != null">rider_nickname,</if>
            <if test="deliveryFee != null">delivery_fee,</if>
            <if test="actualPickLongitude != null">actual_pick_longitude,</if>
            <if test="actualPickLatitude != null">actual_pick_latitude,</if>
            <if test="actualDeliverLongitude != null">actual_deliver_longitude,</if>
            <if test="actualDeliverLatitude != null">actual_deliver_latitude,</if>
            <if test="assignTime != null">assign_time,</if>
            <if test="receiveTime != null">receive_time,</if>
            <if test="pickTime != null">pick_time,</if>
            <if test="deliverTime != null">deliver_time,</if>
            <if test="deliveryStatus != null">delivery_status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderDeliveryId != null">#{orderDeliveryId},</if>
            <if test="orderMainId != null">#{orderMainId},</if>
            <if test="riderId != null">#{riderId},</if>
            <if test="riderNickname != null">#{riderNickname},</if>
            <if test="deliveryFee != null">#{deliveryFee},</if>
            <if test="actualPickLongitude != null">#{actualPickLongitude},</if>
            <if test="actualPickLatitude != null">#{actualPickLatitude},</if>
            <if test="actualDeliverLongitude != null">#{actualDeliverLongitude},</if>
            <if test="actualDeliverLatitude != null">#{actualDeliverLatitude},</if>
            <if test="assignTime != null">#{assignTime},</if>
            <if test="receiveTime != null">#{receiveTime},</if>
            <if test="pickTime != null">#{pickTime},</if>
            <if test="deliverTime != null">#{deliverTime},</if>
            <if test="deliveryStatus != null">#{deliveryStatus},</if>
         </trim>
    </insert>

    <update id="updateOrderDelivery" parameterType="OrderDelivery">
        update order_delivery
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderMainId != null">order_main_id = #{orderMainId},</if>
            <if test="riderId != null">rider_id = #{riderId},</if>
            <if test="riderNickname != null">rider_nickname = #{riderNickname},</if>
            <if test="deliveryFee != null">delivery_fee = #{deliveryFee},</if>
            <if test="actualPickLongitude != null">actual_pick_longitude = #{actualPickLongitude},</if>
            <if test="actualPickLatitude != null">actual_pick_latitude = #{actualPickLatitude},</if>
            <if test="actualDeliverLongitude != null">actual_deliver_longitude = #{actualDeliverLongitude},</if>
            <if test="actualDeliverLatitude != null">actual_deliver_latitude = #{actualDeliverLatitude},</if>
            <if test="assignTime != null">assign_time = #{assignTime},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="pickTime != null">pick_time = #{pickTime},</if>
            <if test="deliverTime != null">deliver_time = #{deliverTime},</if>
            <if test="deliveryStatus != null">delivery_status = #{deliveryStatus},</if>
        </trim>
        where order_delivery_id = #{orderDeliveryId}
    </update>

    <delete id="deleteOrderDeliveryByOrderDeliveryId" parameterType="Long">
        delete from order_delivery where order_delivery_id = #{orderDeliveryId}
    </delete>

    <delete id="deleteOrderDeliveryByOrderDeliveryIds" parameterType="String">
        delete from order_delivery where order_delivery_id in 
        <foreach item="orderDeliveryId" collection="array" open="(" separator="," close=")">
            #{orderDeliveryId}
        </foreach>
    </delete>
</mapper>