<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.OrderErrandDetailMapper">
    
    <resultMap type="OrderErrandDetail" id="OrderErrandDetailResult">
        <result property="orderErrandDetailId"    column="order_errand_detail_id"    />
        <result property="orderMainId"    column="order_main_id"    />
        <result property="errandType"    column="errand_type"    />
        <result property="goodsDesc"    column="goods_desc"    />
        <result property="expectedTime"    column="expected_time"    />
        <result property="advanceAmount"    column="advance_amount"    />
        <result property="tipAmount"    column="tip_amount"    />
        <result property="buyPhotoUrl"    column="buy_photo_url"    />
    </resultMap>

    <sql id="selectOrderErrandDetailVo">
        select order_errand_detail_id, order_main_id, errand_type, goods_desc, expected_time, advance_amount, tip_amount, buy_photo_url from order_errand_detail
    </sql>

    <select id="selectOrderErrandDetailList" parameterType="OrderErrandDetail" resultMap="OrderErrandDetailResult">
        <include refid="selectOrderErrandDetailVo"/>
        <where>  
            <if test="orderMainId != null "> and order_main_id = #{orderMainId}</if>
            <if test="errandType != null "> and errand_type = #{errandType}</if>
            <if test="goodsDesc != null  and goodsDesc != ''"> and goods_desc = #{goodsDesc}</if>
            <if test="expectedTime != null "> and expected_time = #{expectedTime}</if>
            <if test="advanceAmount != null "> and advance_amount = #{advanceAmount}</if>
            <if test="tipAmount != null "> and tip_amount = #{tipAmount}</if>
            <if test="buyPhotoUrl != null  and buyPhotoUrl != ''"> and buy_photo_url = #{buyPhotoUrl}</if>
        </where>
    </select>
    
    <select id="selectOrderErrandDetailByOrderErrandDetailId" parameterType="Long" resultMap="OrderErrandDetailResult">
        <include refid="selectOrderErrandDetailVo"/>
        where order_errand_detail_id = #{orderErrandDetailId}
    </select>

    <insert id="insertOrderErrandDetail" parameterType="OrderErrandDetail">
        insert into order_errand_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderErrandDetailId != null">order_errand_detail_id,</if>
            <if test="orderMainId != null">order_main_id,</if>
            <if test="errandType != null">errand_type,</if>
            <if test="goodsDesc != null and goodsDesc != ''">goods_desc,</if>
            <if test="expectedTime != null">expected_time,</if>
            <if test="advanceAmount != null">advance_amount,</if>
            <if test="tipAmount != null">tip_amount,</if>
            <if test="buyPhotoUrl != null">buy_photo_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderErrandDetailId != null">#{orderErrandDetailId},</if>
            <if test="orderMainId != null">#{orderMainId},</if>
            <if test="errandType != null">#{errandType},</if>
            <if test="goodsDesc != null and goodsDesc != ''">#{goodsDesc},</if>
            <if test="expectedTime != null">#{expectedTime},</if>
            <if test="advanceAmount != null">#{advanceAmount},</if>
            <if test="tipAmount != null">#{tipAmount},</if>
            <if test="buyPhotoUrl != null">#{buyPhotoUrl},</if>
         </trim>
    </insert>

    <update id="updateOrderErrandDetail" parameterType="OrderErrandDetail">
        update order_errand_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderMainId != null">order_main_id = #{orderMainId},</if>
            <if test="errandType != null">errand_type = #{errandType},</if>
            <if test="goodsDesc != null and goodsDesc != ''">goods_desc = #{goodsDesc},</if>
            <if test="expectedTime != null">expected_time = #{expectedTime},</if>
            <if test="advanceAmount != null">advance_amount = #{advanceAmount},</if>
            <if test="tipAmount != null">tip_amount = #{tipAmount},</if>
            <if test="buyPhotoUrl != null">buy_photo_url = #{buyPhotoUrl},</if>
        </trim>
        where order_errand_detail_id = #{orderErrandDetailId}
    </update>

    <delete id="deleteOrderErrandDetailByOrderErrandDetailId" parameterType="Long">
        delete from order_errand_detail where order_errand_detail_id = #{orderErrandDetailId}
    </delete>

    <delete id="deleteOrderErrandDetailByOrderErrandDetailIds" parameterType="String">
        delete from order_errand_detail where order_errand_detail_id in 
        <foreach item="orderErrandDetailId" collection="array" open="(" separator="," close=")">
            #{orderErrandDetailId}
        </foreach>
    </delete>
</mapper>