<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.OrderTakeoutDetailMapper">
    
    <resultMap type="OrderTakeoutDetail" id="OrderTakeoutDetailResult">
        <result property="orderTakeoutDetailId"    column="order_takeout_detail_id"    />
        <result property="orderMainId"    column="order_main_id"    />
        <result property="merchantId"    column="merchant_id"    />
        <result property="merchantName"    column="merchant_name"    />
        <result property="goodsId"    column="goods_id"    />
        <result property="goodsName"    column="goods_name"    />
        <result property="goodsPrice"    column="goods_price"    />
        <result property="quantity"    column="quantity"    />
        <result property="subtotal"    column="subtotal"    />
        <result property="goodsSpec"    column="goods_spec"    />
        <result property="goodsTags"    column="goods_tags"    />
    </resultMap>

    <sql id="selectOrderTakeoutDetailVo">
        select order_takeout_detail_id, order_main_id, merchant_id, merchant_name, goods_id, goods_name, goods_price, quantity, subtotal, goods_spec, goods_tags from order_takeout_detail
    </sql>

    <select id="selectOrderTakeoutDetailList" parameterType="OrderTakeoutDetail" resultMap="OrderTakeoutDetailResult">
        <include refid="selectOrderTakeoutDetailVo"/>
        <where>  
            <if test="orderMainId != null "> and order_main_id = #{orderMainId}</if>
            <if test="merchantId != null "> and merchant_id = #{merchantId}</if>
            <if test="merchantName != null  and merchantName != ''"> and merchant_name like concat('%', #{merchantName}, '%')</if>
            <if test="goodsId != null "> and goods_id = #{goodsId}</if>
            <if test="goodsName != null  and goodsName != ''"> and goods_name like concat('%', #{goodsName}, '%')</if>
            <if test="goodsPrice != null "> and goods_price = #{goodsPrice}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="subtotal != null "> and subtotal = #{subtotal}</if>
            <if test="goodsSpec != null  and goodsSpec != ''"> and goods_spec = #{goodsSpec}</if>
            <if test="goodsTags != null  and goodsTags != ''"> and goods_tags = #{goodsTags}</if>
        </where>
    </select>
    
    <select id="selectOrderTakeoutDetailByOrderTakeoutDetailId" parameterType="Long" resultMap="OrderTakeoutDetailResult">
        <include refid="selectOrderTakeoutDetailVo"/>
        where order_takeout_detail_id = #{orderTakeoutDetailId}
    </select>

    <insert id="insertOrderTakeoutDetail" parameterType="OrderTakeoutDetail">
        insert into order_takeout_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderTakeoutDetailId != null">order_takeout_detail_id,</if>
            <if test="orderMainId != null">order_main_id,</if>
            <if test="merchantId != null">merchant_id,</if>
            <if test="merchantName != null and merchantName != ''">merchant_name,</if>
            <if test="goodsId != null">goods_id,</if>
            <if test="goodsName != null and goodsName != ''">goods_name,</if>
            <if test="goodsPrice != null">goods_price,</if>
            <if test="quantity != null">quantity,</if>
            <if test="subtotal != null">subtotal,</if>
            <if test="goodsSpec != null">goods_spec,</if>
            <if test="goodsTags != null">goods_tags,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderTakeoutDetailId != null">#{orderTakeoutDetailId},</if>
            <if test="orderMainId != null">#{orderMainId},</if>
            <if test="merchantId != null">#{merchantId},</if>
            <if test="merchantName != null and merchantName != ''">#{merchantName},</if>
            <if test="goodsId != null">#{goodsId},</if>
            <if test="goodsName != null and goodsName != ''">#{goodsName},</if>
            <if test="goodsPrice != null">#{goodsPrice},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="subtotal != null">#{subtotal},</if>
            <if test="goodsSpec != null">#{goodsSpec},</if>
            <if test="goodsTags != null">#{goodsTags},</if>
         </trim>
    </insert>

    <update id="updateOrderTakeoutDetail" parameterType="OrderTakeoutDetail">
        update order_takeout_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderMainId != null">order_main_id = #{orderMainId},</if>
            <if test="merchantId != null">merchant_id = #{merchantId},</if>
            <if test="merchantName != null and merchantName != ''">merchant_name = #{merchantName},</if>
            <if test="goodsId != null">goods_id = #{goodsId},</if>
            <if test="goodsName != null and goodsName != ''">goods_name = #{goodsName},</if>
            <if test="goodsPrice != null">goods_price = #{goodsPrice},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="subtotal != null">subtotal = #{subtotal},</if>
            <if test="goodsSpec != null">goods_spec = #{goodsSpec},</if>
            <if test="goodsTags != null">goods_tags = #{goodsTags},</if>
        </trim>
        where order_takeout_detail_id = #{orderTakeoutDetailId}
    </update>

    <delete id="deleteOrderTakeoutDetailByOrderTakeoutDetailId" parameterType="Long">
        delete from order_takeout_detail where order_takeout_detail_id = #{orderTakeoutDetailId}
    </delete>

    <delete id="deleteOrderTakeoutDetailByOrderTakeoutDetailIds" parameterType="String">
        delete from order_takeout_detail where order_takeout_detail_id in 
        <foreach item="orderTakeoutDetailId" collection="array" open="(" separator="," close=")">
            #{orderTakeoutDetailId}
        </foreach>
    </delete>
</mapper>