<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.UserPrivacyMapper">
    
    <resultMap type="UserPrivacy" id="UserPrivacyResult">
        <result property="userPrivacyId"    column="user_privacy_id"    />
        <result property="userBaseId"    column="user_base_id"    />
        <result property="isRecommend"    column="is_recommend"    />
        <result property="isLocationPermit"    column="is_location_permit"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserPrivacyVo">
        select user_privacy_id, user_base_id, is_recommend, is_location_permit, update_time from user_privacy
    </sql>

    <select id="selectUserPrivacyList" parameterType="UserPrivacy" resultMap="UserPrivacyResult">
        <include refid="selectUserPrivacyVo"/>
        <where>  
            <if test="userBaseId != null "> and user_base_id = #{userBaseId}</if>
            <if test="isRecommend != null "> and is_recommend = #{isRecommend}</if>
            <if test="isLocationPermit != null "> and is_location_permit = #{isLocationPermit}</if>
        </where>
    </select>
    
    <select id="selectUserPrivacyByUserPrivacyId" parameterType="Long" resultMap="UserPrivacyResult">
        <include refid="selectUserPrivacyVo"/>
        where user_privacy_id = #{userPrivacyId}
    </select>

    <insert id="insertUserPrivacy" parameterType="UserPrivacy">
        insert into user_privacy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userPrivacyId != null">user_privacy_id,</if>
            <if test="userBaseId != null">user_base_id,</if>
            <if test="isRecommend != null">is_recommend,</if>
            <if test="isLocationPermit != null">is_location_permit,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userPrivacyId != null">#{userPrivacyId},</if>
            <if test="userBaseId != null">#{userBaseId},</if>
            <if test="isRecommend != null">#{isRecommend},</if>
            <if test="isLocationPermit != null">#{isLocationPermit},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserPrivacy" parameterType="UserPrivacy">
        update user_privacy
        <trim prefix="SET" suffixOverrides=",">
            <if test="userBaseId != null">user_base_id = #{userBaseId},</if>
            <if test="isRecommend != null">is_recommend = #{isRecommend},</if>
            <if test="isLocationPermit != null">is_location_permit = #{isLocationPermit},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_privacy_id = #{userPrivacyId}
    </update>

    <delete id="deleteUserPrivacyByUserPrivacyId" parameterType="Long">
        delete from user_privacy where user_privacy_id = #{userPrivacyId}
    </delete>

    <delete id="deleteUserPrivacyByUserPrivacyIds" parameterType="String">
        delete from user_privacy where user_privacy_id in 
        <foreach item="userPrivacyId" collection="array" open="(" separator="," close=")">
            #{userPrivacyId}
        </foreach>
    </delete>
</mapper>