<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.ChatMessageReadMapper">
    
    <resultMap type="ChatMessageRead" id="ChatMessageReadResult">
        <result property="readId"    column="read_id"    />
        <result property="messageId"    column="message_id"    />
        <result property="readerType"    column="reader_type"    />
        <result property="readerId"    column="reader_id"    />
        <result property="readStatus"    column="read_status"    />
        <result property="readTime"    column="read_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectChatMessageReadVo">
        select read_id, message_id, reader_type, reader_id, read_status, read_time, create_time, update_time from chat_message_read
    </sql>

    <select id="selectChatMessageReadList" parameterType="ChatMessageRead" resultMap="ChatMessageReadResult">
        <include refid="selectChatMessageReadVo"/>
        <where>  
            <if test="messageId != null "> and message_id = #{messageId}</if>
            <if test="readerType != null "> and reader_type = #{readerType}</if>
            <if test="readerId != null "> and reader_id = #{readerId}</if>
            <if test="readStatus != null "> and read_status = #{readStatus}</if>
            <if test="readTime != null "> and read_time = #{readTime}</if>
        </where>
    </select>
    
    <select id="selectChatMessageReadByReadId" parameterType="Long" resultMap="ChatMessageReadResult">
        <include refid="selectChatMessageReadVo"/>
        where read_id = #{readId}
    </select>


    <insert id="insertChatMessageRead" parameterType="ChatMessageRead">
        insert into chat_message_read
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="readId != null">read_id,</if>
            <if test="messageId != null">message_id,</if>
            <if test="readerType != null">reader_type,</if>
            <if test="readerId != null">reader_id,</if>
            <if test="readStatus != null">read_status,</if>
            <if test="readTime != null">read_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="readId != null">#{readId},</if>
            <if test="messageId != null">#{messageId},</if>
            <if test="readerType != null">#{readerType},</if>
            <if test="readerId != null">#{readerId},</if>
            <if test="readStatus != null">#{readStatus},</if>
            <if test="readTime != null">#{readTime},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>


    <update id="updateChatMessageRead" parameterType="ChatMessageRead">
        update chat_message_read
        <trim prefix="SET" suffixOverrides=",">
            <if test="messageId != null">message_id = #{messageId},</if>
            <if test="readerType != null">reader_type = #{readerType},</if>
            <if test="readerId != null">reader_id = #{readerId},</if>
            <if test="readStatus != null">read_status = #{readStatus},</if>
            <if test="readTime != null">read_time = #{readTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where read_id = #{readId}
    </update>

    <delete id="deleteChatMessageReadByReadId" parameterType="Long">
        delete from chat_message_read where read_id = #{readId}
    </delete>

    <delete id="deleteChatMessageReadByReadIds" parameterType="String">
        delete from chat_message_read where read_id in 
        <foreach item="readId" collection="array" open="(" separator="," close=")">
            #{readId}
        </foreach>
    </delete>
</mapper>