<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.OrderMainMapper">

<!-- 基础 ResultMap (只包含主表字段) -->
<resultMap type="OrderMain" id="OrderMainResult">
    <result property="orderMainId"    column="order_main_id"    />
    <result property="orderNo"    column="order_no"    />
    <result property="userId"    column="user_id"    />
    <result property="userNickname"    column="user_nickname"    />
    <result property="orderType"    column="order_type"    />
    <result property="totalAmount"    column="total_amount"    />
    <result property="payAmount"    column="pay_amount"    />
    <result property="discountAmount"    column="discount_amount"    />
    <result property="payStatus"    column="pay_status"    />
    <result property="payTime"    column="pay_time"    />
    <result property="payType"    column="pay_type"    />
    <result property="orderStatus"    column="order_status"    />
    <result property="cancelReason"    column="cancel_reason"    />
    <result property="cancelOperator"    column="cancel_operator"    />
    <result property="pickAddressId"    column="pick_address_id"    />
    <result property="pickAddress"    column="pick_address"    />
    <result property="pickContact"    column="pick_contact"    />
    <result property="pickPhone"    column="pick_phone"    />
    <result property="pickLongitude"    column="pick_longitude"    />
    <result property="pickLatitude"    column="pick_latitude"    />
    <result property="deliverAddressId"    column="deliver_address_id"    />
    <result property="deliverAddress"    column="deliver_address"    />
    <result property="deliverContact"    column="deliver_contact"    />
    <result property="deliverPhone"    column="deliver_phone"    />
    <result property="deliverLongitude"    column="deliver_longitude"    />
    <result property="deliverLatitude"    column="deliver_latitude"    />
    <result property="createTime"    column="create_time"    />
    <result property="updateTime"    column="update_time"    />
    <result property="completeTime"    column="complete_time"    />
    <result property="merchantId"    column="merchant_id"    />
    <result property="platformHoldAmount"    column="platform_hold_amount"    />
    <result property="goodsAmount"    column="goods_amount"    />
    <result property="deliveryFeeAmount"    column="delivery_fee_amount"    />
    <result property="orderThumbnail"    column="order_thumbnail"    />
</resultMap>

<!-- 包含订单明细和骑手信息的ResultMap -->
<resultMap type="OrderMain" id="OrderMainResultWithDetails">
    <id     property="orderMainId"      column="order_main_id"      />
    <result property="orderNo"          column="order_no"           />
    <result property="userId"           column="user_id"            />
    <result property="userNickname"     column="user_nickname"      />
    <result property="orderType"        column="order_type"         />
    <result property="totalAmount"      column="total_amount"       />
    <result property="payAmount"        column="pay_amount"         />
    <result property="discountAmount"   column="discount_amount"    />
    <result property="payStatus"        column="pay_status"         />
    <result property="payTime"          column="pay_time"           />
    <result property="payType"          column="pay_type"           />
    <result property="orderStatus"      column="order_status"       />
    <result property="cancelReason"     column="cancel_reason"      />
    <result property="cancelOperator"   column="cancel_operator"    />
    <result property="pickAddressId"    column="pick_address_id"    />
    <result property="pickAddress"      column="pick_address"       />
    <result property="pickContact"      column="pick_contact"       />
    <result property="pickPhone"        column="pick_phone"         />
    <result property="pickLongitude"    column="pick_longitude"     />
    <result property="pickLatitude"     column="pick_latitude"      />
    <result property="deliverAddressId" column="deliver_address_id" />
    <result property="deliverAddress"   column="deliver_address"    />
    <result property="deliverContact"   column="deliver_contact"    />
    <result property="deliverPhone"     column="deliver_phone"      />
    <result property="deliverLongitude" column="deliver_longitude"  />
    <result property="deliverLatitude"  column="deliver_latitude"   />
    <result property="createTime"       column="create_time"        />
    <result property="updateTime"       column="update_time"        />
    <result property="completeTime"     column="complete_time"      />
    <result property="merchantId"       column="merchant_id"        />
    <result property="platformHoldAmount" column="platform_hold_amount" />
    <result property="goodsAmount"      column="goods_amount"       />
    <result property="deliveryFeeAmount" column="delivery_fee_amount" />
    <result property="orderThumbnail"   column="order_thumbnail"    />

    <!-- 新增：骑手信息字段 -->
    <result property="riderId"          column="rider_id"           />
    <result property="riderNickname"    column="rider_nickname"     />
    <result property="riderPhone"       column="rider_phone"        />
    <result property="riderAvatar"      column="rider_avatar"       />
    <result property="riderRealName"    column="rider_real_name"    />
    <result property="riderWorkStatus"  column="rider_work_status"  />
    <result property="riderCreditScore" column="rider_credit_score" />
    <result property="deliveryStatus"   column="delivery_status"    />
    <result property="receiveTime"      column="receive_time"       />
    <result property="pickTime"         column="pick_time"          />
    <result property="deliverTime"      column="deliver_time"       />
    <result property="deliveryFee"      column="delivery_fee"       />
    <result property="riderIncome"      column="rider_income"       />

    <!-- 一对多关联：订单明细列表 -->
    <collection property="orderTakeoutDetailList" ofType="OrderTakeoutDetail" javaType="java.util.List">
        <id     property="orderTakeoutDetailId" column="detail_id"          />
        <result property="orderMainId"          column="order_main_id"      />
        <result property="merchantId"           column="detail_merchant_id" />
        <result property="merchantName"         column="merchant_name"      />
        <result property="goodsId"              column="goods_id"           />
        <result property="goodsName"            column="goods_name"         />
        <result property="goodsPrice"           column="goods_price"        />
        <result property="quantity"             column="quantity"           />
        <result property="subtotal"             column="subtotal"           />
        <result property="goodsSpec"            column="goods_spec"         />
        <result property="goodsTags"            column="goods_tags"         />
        <result property="settleStatus"         column="settle_status"      />
    </collection>
</resultMap>

<!-- 包含二手订单明细和骑手信息的ResultMap -->
<resultMap type="OrderMain" id="SecondhandOrderMainResultWithDetails">
    <id     property="orderMainId"      column="order_main_id"      />
    <result property="orderNo"          column="order_no"           />
    <result property="userId"           column="user_id"            />
    <result property="userNickname"     column="user_nickname"      />
    <result property="orderType"        column="order_type"         />
    <result property="totalAmount"      column="total_amount"       />
    <result property="payAmount"        column="pay_amount"         />
    <result property="discountAmount"   column="discount_amount"    />
    <result property="payStatus"        column="pay_status"         />
    <result property="payTime"          column="pay_time"           />
    <result property="payType"          column="pay_type"           />
    <result property="orderStatus"      column="order_status"       />
    <result property="cancelReason"     column="cancel_reason"      />
    <result property="cancelOperator"   column="cancel_operator"    />
    <result property="pickAddressId"    column="pick_address_id"    />
    <result property="pickAddress"      column="pick_address"       />
    <result property="pickContact"      column="pick_contact"       />
    <result property="pickPhone"        column="pick_phone"         />
    <result property="pickLongitude"    column="pick_longitude"     />
    <result property="pickLatitude"     column="pick_latitude"      />
    <result property="deliverAddressId" column="deliver_address_id" />
    <result property="deliverAddress"   column="deliver_address"    />
    <result property="deliverContact"   column="deliver_contact"    />
    <result property="deliverPhone"     column="deliver_phone"      />
    <result property="deliverLongitude" column="deliver_longitude"  />
    <result property="deliverLatitude"  column="deliver_latitude"   />
    <result property="createTime"       column="create_time"        />
    <result property="updateTime"       column="update_time"        />
    <result property="completeTime"     column="complete_time"      />
    <result property="merchantId"       column="merchant_id"        />
    <result property="platformHoldAmount" column="platform_hold_amount" />
    <result property="goodsAmount"      column="goods_amount"       />
    <result property="deliveryFeeAmount" column="delivery_fee_amount" />

    <result property="riderId"          column="rider_id"           />
    <result property="riderNickname"    column="rider_nickname"     />
    <result property="riderPhone"       column="rider_phone"        />
    <result property="riderAvatar"      column="rider_avatar"       />
    <result property="riderRealName"    column="rider_real_name"    />
    <result property="riderWorkStatus"  column="rider_work_status"  />
    <result property="riderCreditScore" column="rider_credit_score" />
    <result property="deliveryStatus"   column="delivery_status"    />
    <result property="receiveTime"      column="receive_time"       />
    <result property="pickTime"         column="pick_time"          />
    <result property="deliverTime"      column="deliver_time"       />
    <result property="deliveryFee"      column="delivery_fee"       />
    <result property="riderIncome"      column="rider_income"       />

    <collection property="orderSecondhandDetailList" ofType="OrderSecondhandDetail" javaType="java.util.List">
        <id     property="orderSecondhandDetailId" column="order_secondhand_detail_id" />
        <result property="orderMainId"              column="order_main_id"              />
        <result property="goodsId"                  column="goods_id"                   />
        <result property="goodsName"                column="goods_name"                 />
        <result property="sellerId"                 column="seller_id"                  />
        <result property="sellWay"                  column="sell_way"                   />
        <result property="sellerNickname"           column="seller_nickname"            />
        <result property="depositAmount"            column="deposit_amount"             />
        <result property="confirmTime"              column="confirm_time"               />
        <result property="evaluateStatus"           column="evaluate_status"            />
        <result property="createTime"               column="secondhand_create_time"     />
        <result property="updateTime"               column="secondhand_update_time"     />
    </collection>
</resultMap>

<resultMap type="OrderMain" id="ErrandOrderMainResultWithDetails">
    <id     property="orderMainId"      column="order_main_id"      />
    <result property="orderNo"          column="order_no"           />
    <result property="userId"           column="user_id"            />
    <result property="userNickname"     column="user_nickname"      />
    <result property="orderType"        column="order_type"         />
    <result property="totalAmount"      column="total_amount"       />
    <result property="payAmount"        column="pay_amount"         />
    <result property="discountAmount"   column="discount_amount"    />
    <result property="payStatus"        column="pay_status"         />
    <result property="payTime"          column="pay_time"           />
    <result property="payType"          column="pay_type"           />
    <result property="orderStatus"      column="order_status"       />
    <result property="cancelReason"     column="cancel_reason"      />
    <result property="cancelOperator"   column="cancel_operator"    />
    <result property="pickAddressId"    column="pick_address_id"    />
    <result property="pickAddress"      column="pick_address"       />
    <result property="pickContact"      column="pick_contact"       />
    <result property="pickPhone"        column="pick_phone"         />
    <result property="pickLongitude"    column="pick_longitude"     />
    <result property="pickLatitude"     column="pick_latitude"      />
    <result property="deliverAddressId" column="deliver_address_id" />
    <result property="deliverAddress"   column="deliver_address"    />
    <result property="deliverContact"   column="deliver_contact"    />
    <result property="deliverPhone"     column="deliver_phone"      />
    <result property="deliverLongitude" column="deliver_longitude"  />
    <result property="deliverLatitude"  column="deliver_latitude"   />
    <result property="createTime"       column="create_time"        />
    <result property="updateTime"       column="update_time"        />
    <result property="completeTime"     column="complete_time"      />
    <result property="merchantId"       column="merchant_id"        />
    <result property="platformHoldAmount" column="platform_hold_amount" />
    <result property="goodsAmount"      column="goods_amount"       />
    <result property="deliveryFeeAmount" column="delivery_fee_amount" />

    <result property="riderId"          column="rider_id"           />
    <result property="riderNickname"    column="rider_nickname"     />
    <result property="riderPhone"       column="rider_phone"        />
    <result property="riderAvatar"      column="rider_avatar"       />
    <result property="riderRealName"    column="rider_real_name"    />
    <result property="riderWorkStatus"  column="rider_work_status"  />
    <result property="riderCreditScore" column="rider_credit_score" />
    <result property="deliveryStatus"   column="delivery_status"    />
    <result property="receiveTime"      column="receive_time"       />
    <result property="pickTime"         column="pick_time"          />
    <result property="deliverTime"      column="deliver_time"       />
    <result property="deliveryFee"      column="delivery_fee"       />
    <result property="riderIncome"      column="rider_income"       />

    <collection property="orderErrandDetailList" ofType="OrderErrandDetail" javaType="java.util.List">
        <id     property="orderErrandDetailId" column="order_errand_detail_id" />
        <result property="orderMainId"          column="order_main_id"          />
        <result property="errandType"           column="errand_type"            />
        <result property="goodsDesc"            column="goods_desc"             />
        <result property="expectedTime"         column="expected_time"          />
        <result property="advanceAmount"        column="advance_amount"         />
        <result property="tipAmount"            column="tip_amount"             />
        <result property="buyPhotoUrl"          column="buy_photo_url"          />
        <result property="createTime"           column="detail_create_time"     />
        <result property="updateTime"           column="detail_update_time"     />
    </collection>
</resultMap>

<sql id="selectOrderMainVo">
    select order_main_id, order_no, user_id, user_nickname, order_type, total_amount, pay_amount, discount_amount, pay_status, pay_time, pay_type, order_status, cancel_reason, cancel_operator, pick_address_id, pick_address, pick_contact, pick_phone, pick_longitude, pick_latitude, deliver_address_id, deliver_address, deliver_contact, deliver_phone, deliver_longitude, deliver_latitude, create_time, update_time, complete_time, merchant_id, platform_hold_amount, goods_amount, delivery_fee_amount, order_thumbnail from order_main
</sql>

<select id="selectOrderMainList" parameterType="OrderMain" resultMap="OrderMainResult">
    <include refid="selectOrderMainVo"/>
    <where>
        <if test="orderNo != null  and orderNo != ''"> and order_no = #{orderNo}</if>
        <if test="userId != null "> and user_id = #{userId}</if>
        <if test="userNickname != null  and userNickname != ''"> and user_nickname like concat('%', #{userNickname}, '%')</if>
        <if test="orderType != null "> and order_type = #{orderType}</if>
        <if test="totalAmount != null "> and total_amount = #{totalAmount}</if>
        <if test="payAmount != null "> and pay_amount = #{payAmount}</if>
        <if test="discountAmount != null "> and discount_amount = #{discountAmount}</if>
        <if test="payStatus != null "> and pay_status = #{payStatus}</if>
        <if test="payTime != null "> and pay_time = #{payTime}</if>
        <if test="payType != null "> and pay_type = #{payType}</if>
        <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
        <if test="cancelReason != null  and cancelReason != ''"> and cancel_reason = #{cancelReason}</if>
        <if test="cancelOperator != null  and cancelOperator != ''"> and cancel_operator = #{cancelOperator}</if>
        <if test="pickAddressId != null "> and pick_address_id = #{pickAddressId}</if>
        <if test="pickAddress != null  and pickAddress != ''"> and pick_address = #{pickAddress}</if>
        <if test="pickContact != null  and pickContact != ''"> and pick_contact = #{pickContact}</if>
        <if test="pickPhone != null  and pickPhone != ''"> and pick_phone = #{pickPhone}</if>
        <if test="pickLongitude != null "> and pick_longitude = #{pickLongitude}</if>
        <if test="pickLatitude != null "> and pick_latitude = #{pickLatitude}</if>
        <if test="deliverAddressId != null "> and deliver_address_id = #{deliverAddressId}</if>
        <if test="deliverAddress != null  and deliverAddress != ''"> and deliver_address = #{deliverAddress}</if>
        <if test="deliverContact != null  and deliverContact != ''"> and deliver_contact = #{deliverContact}</if>
        <if test="deliverPhone != null  and deliverPhone != ''"> and deliver_phone = #{deliverPhone}</if>
        <if test="deliverLongitude != null "> and deliver_longitude = #{deliverLongitude}</if>
        <if test="deliverLatitude != null "> and deliver_latitude = #{deliverLatitude}</if>
        <if test="completeTime != null "> and complete_time = #{completeTime}</if>
        <if test="merchantId != null "> and merchant_id = #{merchantId}</if>
    </where>
</select>

<select id="selectOrderMainByOrderMainId" parameterType="Long" resultMap="OrderMainResult">
    <include refid="selectOrderMainVo"/>
    where order_main_id = #{orderMainId}
</select>

<select id="selectErrandOrderMainWithDetailsByOrderNo" parameterType="String" resultMap="ErrandOrderMainResultWithDetails">
    SELECT
    om.*,
    oed.order_errand_detail_id,
    oed.errand_type,
    oed.goods_desc,
    oed.expected_time,
    oed.advance_amount,
    oed.tip_amount,
    oed.buy_photo_url,
    od.rider_id,
    od.delivery_status,
    od.receive_time,
    od.pick_time,
    od.deliver_time,
    od.delivery_fee,
    od.rider_income,
    rb.nickname AS rider_nickname,
    rb. phone AS rider_phone,
    rb.avatar AS rider_avatar,
    rb.real_name AS rider_real_name,
    rb.work_status AS rider_work_status,
    rb. credit_score AS rider_credit_score
    FROM order_main om
    LEFT JOIN order_errand_detail oed ON om.order_main_id = oed.order_main_id
    LEFT JOIN order_delivery od ON om.order_main_id = od.order_main_id
    LEFT JOIN rider_base rb ON od.rider_id = rb.rider_base_id
    WHERE om.order_no = #{orderNo}
    AND om.order_type = 2
</select>

<select id="selectErrandOrderMainListWithDetails" parameterType="OrderMain" resultMap="ErrandOrderMainResultWithDetails">
    SELECT
    om.*,
    oed.order_errand_detail_id,
    oed. errand_type,
    oed.goods_desc,
    oed.expected_time,
    oed.advance_amount,
    oed.tip_amount,
    oed.buy_photo_url,
    od. rider_id,
    od. delivery_status,
    od. receive_time,
    od. pick_time,
    od. deliver_time,
    od. delivery_fee,
    od. rider_income,
    rb. nickname AS rider_nickname,
    rb.phone AS rider_phone,
    rb.avatar AS rider_avatar,
    rb.real_name AS rider_real_name,
    rb.work_status AS rider_work_status,
    rb.credit_score AS rider_credit_score
    FROM order_main om
    LEFT JOIN order_errand_detail oed ON om.order_main_id = oed.order_main_id
    LEFT JOIN order_delivery od ON om.order_main_id = od.order_main_id
    LEFT JOIN rider_base rb ON od.rider_id = rb. rider_base_id
    WHERE om.order_type = 2
    <if test="orderNo != null and orderNo != ''">
        AND om.order_no LIKE CONCAT('%', #{orderNo}, '%')
    </if>
    <if test="userId != null">
        AND om.user_id = #{userId}
    </if>
    <if test="orderStatus != null">
        AND om. order_status = #{orderStatus}
    </if>
    <if test="merchantId != null">
        AND om.merchant_id = #{merchantId}
    </if>
    <if test="riderId != null">
        AND od.rider_id = #{riderId}
    </if>
    <if test="beginTime != null and beginTime != ''">
        AND om.create_time >= #{beginTime}
    </if>
    ORDER BY om.create_time DESC
</select>

<select id="selectSecondHandOrderMainWithDetailsByOrderNo" parameterType="String" resultMap="SecondhandOrderMainResultWithDetails">
    SELECT
    om.*,
    oshd.order_secondhand_detail_id,
    oshd.goods_id,
    oshd.goods_name,
    oshd.seller_id,
    oshd.sell_way,
    oshd.seller_nickname,
    oshd.deposit_amount,
    oshd.confirm_time,
    oshd.evaluate_status,
    od.rider_id,
    od.delivery_status,
    od.receive_time,
    od.pick_time,
    od.deliver_time,
    od.delivery_fee,
    od.rider_income,
    rb.nickname AS rider_nickname,
    rb.phone AS rider_phone,
    rb.avatar AS rider_avatar,
    rb.real_name AS rider_real_name,
    rb.work_status AS rider_work_status,
    rb.credit_score AS rider_credit_score
    FROM order_main om
    LEFT JOIN order_secondhand_detail oshd ON om.order_main_id = oshd.order_main_id
    LEFT JOIN order_delivery od ON om.order_main_id = od.order_main_id
    LEFT JOIN rider_base rb ON od.rider_id = rb.rider_base_id
    WHERE om.order_no = #{orderNo}
    AND om.order_type = 3
</select>

<select id="selectSecondHandOrderMainWithDetailsByOrderMainNo" parameterType="String" resultMap="SecondhandOrderMainResultWithDetails">
    SELECT
    om.*,
    oshd.order_secondhand_detail_id,
    oshd.goods_id,
    oshd.goods_name,
    oshd.seller_id,
    oshd. sell_way,
    oshd.seller_nickname,
    oshd.deposit_amount,
    oshd.confirm_time,
    oshd. evaluate_status,
    od. rider_id,
    od. delivery_status,
    od. receive_time,
    od. pick_time,
    od. deliver_time,
    od. delivery_fee,
    od. rider_income,
    rb. nickname AS rider_nickname,
    rb.phone AS rider_phone,
    rb.avatar AS rider_avatar,
    rb.real_name AS rider_real_name,
    rb.work_status AS rider_work_status,
    rb.credit_score AS rider_credit_score
    FROM order_main om
    LEFT JOIN order_secondhand_detail oshd ON om.order_main_id = oshd.order_main_id
    LEFT JOIN order_delivery od ON om.order_main_id = od.order_main_id
    LEFT JOIN rider_base rb ON od.rider_id = rb.rider_base_id
    WHERE om.order_main_id = #{orderMainId}
    AND om.order_type = 3
</select>

<select id="selectOrderMainWithDetailsByOrderNo" parameterType="String" resultMap="OrderMainResultWithDetails">
    SELECT
    om.*,
    otd.order_takeout_detail_id as detail_id,
    otd. merchant_id as detail_merchant_id,
    otd.merchant_name,
    otd.goods_id,
    otd.goods_name,
    otd.goods_price,
    otd.quantity,
    otd.subtotal,
    otd.goods_spec,
    otd.goods_tags,
    otd.settle_status,
    od.rider_id,
    od.delivery_status,
    od.receive_time,
    od.pick_time,
    od.deliver_time,
    od.delivery_fee,
    od.rider_income,
    rb.nickname AS rider_nickname,
    rb.phone AS rider_phone,
    rb.avatar AS rider_avatar,
    rb.real_name AS rider_real_name,
    rb.work_status AS rider_work_status,
    rb.credit_score AS rider_credit_score
    FROM order_main om
    LEFT JOIN order_takeout_detail otd ON om.order_main_id = otd.order_main_id
    LEFT JOIN order_delivery od ON om.order_main_id = od.order_main_id
    LEFT JOIN rider_base rb ON od.rider_id = rb.rider_base_id
    WHERE om.order_no = #{orderNo}
</select>

<insert id="insertOrderMain" parameterType="OrderMain">
    insert into order_main
    <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="orderMainId != null">order_main_id,</if>
        <if test="orderNo != null and orderNo != ''">order_no,</if>
        <if test="userId != null">user_id,</if>
        <if test="userNickname != null and userNickname != ''">user_nickname,</if>
        <if test="orderType != null">order_type,</if>
        <if test="totalAmount != null">total_amount,</if>
        <if test="payAmount != null">pay_amount,</if>
        <if test="discountAmount != null">discount_amount,</if>
        <if test="payStatus != null">pay_status,</if>
        <if test="payTime != null">pay_time,</if>
        <if test="payType != null">pay_type,</if>
        <if test="orderStatus != null">order_status,</if>
        <if test="cancelReason != null">cancel_reason,</if>
        <if test="cancelOperator != null">cancel_operator,</if>
        <if test="pickAddressId != null">pick_address_id,</if>
        <if test="pickAddress != null and pickAddress != ''">pick_address,</if>
        <if test="pickContact != null and pickContact != ''">pick_contact,</if>
        <if test="pickPhone != null and pickPhone != ''">pick_phone,</if>
        <if test="pickLongitude != null">pick_longitude,</if>
        <if test="pickLatitude != null">pick_latitude,</if>
        <if test="deliverAddressId != null">deliver_address_id,</if>
        <if test="deliverAddress != null">deliver_address,</if>
        <if test="deliverContact != null">deliver_contact,</if>
        <if test="deliverPhone != null">deliver_phone,</if>
        <if test="deliverLongitude != null">deliver_longitude,</if>
        <if test="deliverLatitude != null">deliver_latitude,</if>
        <if test="createTime != null">create_time,</if>
        <if test="updateTime != null">update_time,</if>
        <if test="completeTime != null">complete_time,</if>
        <if test="merchantId != null">merchant_id,</if>
        <if test="platformHoldAmount != null">platform_hold_amount,</if>
        <if test="goodsAmount != null">goods_amount,</if>
        <if test="deliveryFeeAmount != null">delivery_fee_amount,</if>
        <if test="orderThumbnail != null">order_thumbnail,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="orderMainId != null">#{orderMainId},</if>
        <if test="orderNo != null and orderNo != ''">#{orderNo},</if>
        <if test="userId != null">#{userId},</if>
        <if test="userNickname != null and userNickname != ''">#{userNickname},</if>
        <if test="orderType != null">#{orderType},</if>
        <if test="totalAmount != null">#{totalAmount},</if>
        <if test="payAmount != null">#{payAmount},</if>
        <if test="discountAmount != null">#{discountAmount},</if>
        <if test="payStatus != null">#{payStatus},</if>
        <if test="payTime != null">#{payTime},</if>
        <if test="payType != null">#{payType},</if>
        <if test="orderStatus != null">#{orderStatus},</if>
        <if test="cancelReason != null">#{cancelReason},</if>
        <if test="cancelOperator != null">#{cancelOperator},</if>
        <if test="pickAddressId != null">#{pickAddressId},</if>
        <if test="pickAddress != null and pickAddress != ''">#{pickAddress},</if>
        <if test="pickContact != null and pickContact != ''">#{pickContact},</if>
        <if test="pickPhone != null and pickPhone != ''">#{pickPhone},</if>
        <if test="pickLongitude != null">#{pickLongitude},</if>
        <if test="pickLatitude != null">#{pickLatitude},</if>
        <if test="deliverAddressId != null">#{deliverAddressId},</if>
        <if test="deliverAddress != null">#{deliverAddress},</if>
        <if test="deliverContact != null">#{deliverContact},</if>
        <if test="deliverPhone != null">#{deliverPhone},</if>
        <if test="deliverLongitude != null">#{deliverLongitude},</if>
        <if test="deliverLatitude != null">#{deliverLatitude},</if>
        <if test="createTime != null">#{createTime},</if>
        <if test="updateTime != null">#{updateTime},</if>
        <if test="completeTime != null">#{completeTime},</if>
        <if test="merchantId != null">#{merchantId},</if>
        <if test="platformHoldAmount != null">#{platformHoldAmount},</if>
        <if test="goodsAmount != null">#{goodsAmount},</if>
        <if test="deliveryFeeAmount != null">#{deliveryFeeAmount},</if>
        <if test="orderThumbnail != null">#{orderThumbnail},</if>
    </trim>
</insert>

<update id="updateOrderMain" parameterType="OrderMain">
    update order_main
    <trim prefix="SET" suffixOverrides=",">
        <if test="orderNo != null and orderNo != ''">order_no = #{orderNo},</if>
        <if test="userId != null">user_id = #{userId},</if>
        <if test="userNickname != null and userNickname != ''">user_nickname = #{userNickname},</if>
        <if test="orderType != null">order_type = #{orderType},</if>
        <if test="totalAmount != null">total_amount = #{totalAmount},</if>
        <if test="payAmount != null">pay_amount = #{payAmount},</if>
        <if test="discountAmount != null">discount_amount = #{discountAmount},</if>
        <if test="payStatus != null">pay_status = #{payStatus},</if>
        <if test="payTime != null">pay_time = #{payTime},</if>
        <if test="payType != null">pay_type = #{payType},</if>
        <if test="orderStatus != null">order_status = #{orderStatus},</if>
        <if test="cancelReason != null">cancel_reason = #{cancelReason},</if>
        <if test="cancelOperator != null">cancel_operator = #{cancelOperator},</if>
        <if test="pickAddressId != null">pick_address_id = #{pickAddressId},</if>
        <if test="pickAddress != null and pickAddress != ''">pick_address = #{pickAddress},</if>
        <if test="pickContact != null and pickContact != ''">pick_contact = #{pickContact},</if>
        <if test="pickPhone != null and pickPhone != ''">pick_phone = #{pickPhone},</if>
        <if test="pickLongitude != null">pick_longitude = #{pickLongitude},</if>
        <if test="pickLatitude != null">pick_latitude = #{pickLatitude},</if>
        <if test="deliverAddressId != null">deliver_address_id = #{deliverAddressId},</if>
        <if test="deliverAddress != null">deliver_address = #{deliverAddress},</if>
        <if test="deliverContact != null">deliver_contact = #{deliverContact},</if>
        <if test="deliverPhone != null">deliver_phone = #{deliverPhone},</if>
        <if test="deliverLongitude != null">deliver_longitude = #{deliverLongitude},</if>
        <if test="deliverLatitude != null">deliver_latitude = #{deliverLatitude},</if>
        <if test="createTime != null">create_time = #{createTime},</if>
        <if test="updateTime != null">update_time = #{updateTime},</if>
        <if test="completeTime != null">complete_time = #{completeTime},</if>
        <if test="merchantId != null">merchant_id = #{merchantId},</if>
        <if test="platformHoldAmount != null">platform_hold_amount = #{platformHoldAmount},</if>
        <if test="goodsAmount != null">goods_amount = #{goodsAmount},</if>
        <if test="deliveryFeeAmount != null">delivery_fee_amount = #{deliveryFeeAmount},</if>
        <if test="orderThumbnail != null">order_thumbnail = #{orderThumbnail},</if>
    </trim>
    where order_main_id = #{orderMainId}
</update>

<delete id="deleteOrderMainByOrderMainId" parameterType="Long">
    delete from order_main where order_main_id = #{orderMainId}
</delete>

<delete id="deleteOrderMainByOrderMainIds" parameterType="String">
    delete from order_main where order_main_id in
    <foreach item="orderMainId" collection="array" open="(" separator="," close=")">
        #{orderMainId}
    </foreach>
</delete>

<select id="selectMerchantTodayIncome" parameterType="map" resultType="java.util.Map">
    SELECT
    COALESCE(SUM(o.pay_amount), 0) AS total_income,
    COUNT(DISTINCT o.order_main_id) AS order_count
    FROM order_main o
    JOIN order_takeout_detail d ON o.order_main_id = d.order_main_id
    WHERE d.merchant_id = #{merchantId}
    AND o.pay_status = 1
    AND o.order_status = 4
    AND o.complete_time BETWEEN #{startTime} AND #{endTime}
</select>

<select id="selectMerchantTodayRefund" parameterType="map" resultType="java.math.BigDecimal">
    SELECT COALESCE(SUM(o.pay_amount), 0)
    FROM order_main o
    JOIN order_takeout_detail d ON o.order_main_id = d.order_main_id
    WHERE d.merchant_id = #{merchantId}
    AND o.pay_status IN (2, 3)
    AND o.complete_time BETWEEN #{startTime} AND #{endTime}
</select>

<insert id="insertSecondhandOrderMain" parameterType="com.ruoyi.platform.domain.OrderMain" useGeneratedKeys="false">
    INSERT INTO order_main (
    order_main_id, order_no, user_id, user_nickname, order_type, total_amount, pay_amount, pay_type, pay_status, order_status, pick_address_id, pick_address, pick_contact, pick_phone, deliver_address, deliver_contact, deliver_phone, remark, create_time, update_time
    ) VALUES (
    #{orderMainId}, #{orderNo}, #{userId}, #{userNickname}, #{orderType}, #{totalAmount}, #{payAmount}, #{payType}, #{payStatus}, #{orderStatus}, #{pickAddressId}, #{pickAddress}, #{pickContact}, #{pickPhone}, #{deliverAddress}, #{deliverContact}, #{deliverPhone}, #{remark}, NOW(), NOW()
    )
</insert>

<select id="selectOrderByOrderNo" parameterType="string" resultMap="OrderMainResult">
    SELECT * FROM order_main WHERE order_no = #{orderNo}
</select>

<update id="updatePayStatus">
    UPDATE order_main
    SET pay_status = #{payStatus}, order_status = #{orderStatus}, pay_time = #{payTime}, update_time = NOW()
    WHERE order_no = #{orderNo}
</update>

<update id="updateOrderStatus">
    UPDATE order_main
    SET order_status = #{orderStatus}, pay_status = #{payStatus}, cancel_reason = #{cancelReason}, update_time = NOW()
    WHERE order_no = #{orderNo}
</update>

<update id="updateOrderComplete">
    UPDATE order_main
    SET order_status = 4, complete_time = #{completeTime}, update_time = NOW()
    WHERE order_no = #{orderNo}
</update>

<select id="selectByOrderNo" resultMap="OrderMainResult">
    SELECT * FROM order_main WHERE order_no = #{orderNo}
</select>

<!-- 查询外卖商品首图 -->
<select id="selectGoodsMainImage" resultType="string">
    SELECT image_url FROM merchant_goods_image WHERE merchant_goods_id = #{goodsId} AND is_main = 1 LIMIT 1
</select>

<!-- 查询二手商品首图 -->
<select id="selectSecondhandGoodsMainImage" resultType="string">
    SELECT image_url FROM secondhand_goods_image WHERE secondhand_goods_id = #{goodsId} AND is_main = 1 LIMIT 1
</select>

</mapper>