<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.PlatformRoleMapper">
    
    <resultMap type="PlatformRole" id="PlatformRoleResult">
        <result property="platformRoleId"    column="platform_role_id"    />
        <result property="roleName"    column="role_name"    />
        <result property="roleCode"    column="role_code"    />
        <result property="roleDesc"    column="role_desc"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPlatformRoleVo">
        select platform_role_id, role_name, role_code, role_desc, create_time, update_time from platform_role
    </sql>

    <select id="selectPlatformRoleList" parameterType="PlatformRole" resultMap="PlatformRoleResult">
        <include refid="selectPlatformRoleVo"/>
        <where>  
            <if test="roleName != null  and roleName != ''"> and role_name like concat('%', #{roleName}, '%')</if>
            <if test="roleCode != null  and roleCode != ''"> and role_code = #{roleCode}</if>
            <if test="roleDesc != null  and roleDesc != ''"> and role_desc = #{roleDesc}</if>
        </where>
    </select>
    
    <select id="selectPlatformRoleByPlatformRoleId" parameterType="Long" resultMap="PlatformRoleResult">
        <include refid="selectPlatformRoleVo"/>
        where platform_role_id = #{platformRoleId}
    </select>

    <insert id="insertPlatformRole" parameterType="PlatformRole">
        insert into platform_role
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="platformRoleId != null">platform_role_id,</if>
            <if test="roleName != null and roleName != ''">role_name,</if>
            <if test="roleCode != null and roleCode != ''">role_code,</if>
            <if test="roleDesc != null">role_desc,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platformRoleId != null">#{platformRoleId},</if>
            <if test="roleName != null and roleName != ''">#{roleName},</if>
            <if test="roleCode != null and roleCode != ''">#{roleCode},</if>
            <if test="roleDesc != null">#{roleDesc},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePlatformRole" parameterType="PlatformRole">
        update platform_role
        <trim prefix="SET" suffixOverrides=",">
            <if test="roleName != null and roleName != ''">role_name = #{roleName},</if>
            <if test="roleCode != null and roleCode != ''">role_code = #{roleCode},</if>
            <if test="roleDesc != null">role_desc = #{roleDesc},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where platform_role_id = #{platformRoleId}
    </update>

    <delete id="deletePlatformRoleByPlatformRoleId" parameterType="Long">
        delete from platform_role where platform_role_id = #{platformRoleId}
    </delete>

    <delete id="deletePlatformRoleByPlatformRoleIds" parameterType="String">
        delete from platform_role where platform_role_id in 
        <foreach item="platformRoleId" collection="array" open="(" separator="," close=")">
            #{platformRoleId}
        </foreach>
    </delete>
</mapper>