<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.SecondhandGoodsImageMapper">
    
    <resultMap type="SecondhandGoodsImage" id="SecondhandGoodsImageResult">
        <result property="secondhandGoodsImageId"    column="secondhand_goods_image_id"    />
        <result property="secondhandGoodsId"    column="secondhand_goods_id"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="isMain"    column="is_main"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSecondhandGoodsImageVo">
        select secondhand_goods_image_id, secondhand_goods_id, image_url, is_main, sort_order, create_time from secondhand_goods_image
    </sql>

    <select id="selectSecondhandGoodsImageList" parameterType="SecondhandGoodsImage" resultMap="SecondhandGoodsImageResult">
        <include refid="selectSecondhandGoodsImageVo"/>
        <where>  
            <if test="secondhandGoodsId != null "> and secondhand_goods_id = #{secondhandGoodsId}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="isMain != null "> and is_main = #{isMain}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
        </where>
    </select>
    
    <select id="selectSecondhandGoodsImageBySecondhandGoodsImageId" parameterType="Long" resultMap="SecondhandGoodsImageResult">
        <include refid="selectSecondhandGoodsImageVo"/>
        where secondhand_goods_image_id = #{secondhandGoodsImageId}
    </select>

    <insert id="insertSecondhandGoodsImage" parameterType="SecondhandGoodsImage" useGeneratedKeys="true" keyProperty="secondhandGoodsImageId">
        insert into secondhand_goods_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="secondhandGoodsId != null">secondhand_goods_id,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="isMain != null">is_main,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="secondhandGoodsId != null">#{secondhandGoodsId},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="isMain != null">#{isMain},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSecondhandGoodsImage" parameterType="SecondhandGoodsImage">
        update secondhand_goods_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="secondhandGoodsId != null">secondhand_goods_id = #{secondhandGoodsId},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="isMain != null">is_main = #{isMain},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where secondhand_goods_image_id = #{secondhandGoodsImageId}
    </update>

    <delete id="deleteSecondhandGoodsImageBySecondhandGoodsImageId" parameterType="Long">
        delete from secondhand_goods_image where secondhand_goods_image_id = #{secondhandGoodsImageId}
    </delete>

    <delete id="deleteSecondhandGoodsImageBySecondhandGoodsImageIds" parameterType="String">
        delete from secondhand_goods_image where secondhand_goods_image_id in 
        <foreach item="secondhandGoodsImageId" collection="array" open="(" separator="," close=")">
            #{secondhandGoodsImageId}
        </foreach>
    </delete>

    <!-- ======================================== -->
    <!--批量插入 -->
    <insert id="insertSecondhandGoodsImages" parameterType="java.util.List">
        insert into secondhand_goods_image
        (secondhand_goods_id, image_url, is_main, sort_order, create_time)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.secondhandGoodsId}, #{item.imageUrl}, #{item.isMain},
            #{item.sortOrder}, now())
        </foreach>
    </insert>

    <!-- 查询商品图片URL -->
    <select id="selectSecondhandGoodsImageUrlsByGoodsId" parameterType="long" resultType="string">
        SELECT image_url
        FROM secondhand_goods_image
        WHERE secondhand_goods_id = #{goodsId}
        ORDER BY sort_order ASC
    </select>

    <!-- 查询某个商品的一张主图 -->
    <select id="selectMainImageByGoodsId" resultMap="SecondhandGoodsImageResult">
        SELECT
            secondhand_goods_image_id,
            secondhand_goods_id,
            image_url,
            is_main,
            sort_order,
            create_time
        FROM secondhand_goods_image
        WHERE secondhand_goods_id = #{goodsId}
        ORDER BY is_main DESC, sort_order ASC, create_time ASC
            LIMIT 1
    </select>

</mapper>