<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.RiderBaseMapper">

    <resultMap type="RiderBase" id="RiderBaseResult">
        <result property="riderBaseId"   column="rider_base_id"   />
        <result property="userId"        column="user_id"         />
        <result property="username"      column="username"        />
        <result property="password"      column="password"        />
        <result property="nickname"      column="nickname"        />
        <result property="avatar"        column="avatar"          />
        <result property="realName"      column="real_name"       />
        <result property="idCard"        column="id_card"         />
        <result property="idCardFront"   column="id_card_front"   />
        <result property="idCardBack"    column="id_card_back"    />
        <result property="phone"         column="phone"           />
        <result property="auditStatus"   column="audit_status"    />
        <result property="workStatus"    column="work_status"     />
        <result property="creditScore"   column="credit_score"    />
        <result property="accountStatus" column="account_status"  />
        <result property="createTime"    column="create_time"     />
        <result property="updateTime"    column="update_time"     />
    </resultMap>

    <sql id="selectRiderBaseVo">
        select rider_base_id, user_id, username, password, nickname, avatar, real_name, id_card, id_card_front, id_card_back, phone, audit_status, work_status, credit_score, account_status, create_time, update_time from rider_base
    </sql>

    <select id="selectRiderBaseList" parameterType="RiderBase" resultMap="RiderBaseResult">
        <include refid="selectRiderBaseVo"/>
        <where>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="idCard != null  and idCard != ''"> and id_card = #{idCard}</if>
            <if test="idCardFront != null  and idCardFront != ''"> and id_card_front = #{idCardFront}</if>
            <if test="idCardBack != null  and idCardBack != ''"> and id_card_back = #{idCardBack}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="auditStatus != null "> and audit_status = #{auditStatus}</if>
            <if test="workStatus != null "> and work_status = #{workStatus}</if>
            <if test="creditScore != null "> and credit_score = #{creditScore}</if>
            <if test="accountStatus != null "> and account_status = #{accountStatus}</if>
        </where>
    </select>

    <select id="selectRiderBaseByPhone" parameterType="String" resultMap="RiderBaseResult">
        <include refid="selectRiderBaseVo"/>
        where phone = #{phone}
    </select>

    <select id="selectRiderBaseByRiderBaseId" parameterType="Long" resultMap="RiderBaseResult">
        <include refid="selectRiderBaseVo"/>
        where rider_base_id = #{riderBaseId}
    </select>

    <insert id="insertRiderBase" parameterType="RiderBase" useGeneratedKeys="true" keyProperty="riderBaseId">
        insert into rider_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="riderBaseId != null">rider_base_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="nickname != null and nickname != ''">nickname,</if>
            <if test="avatar != null">avatar,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="idCard != null and idCard != ''">id_card,</if>
            <if test="idCardFront != null and idCardFront != ''">id_card_front,</if>
            <if test="idCardBack != null and idCardBack != ''">id_card_back,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="workStatus != null">work_status,</if>
            <if test="creditScore != null">credit_score,</if>
            <if test="accountStatus != null">account_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="riderBaseId != null">#{riderBaseId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="nickname != null and nickname != ''">#{nickname},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="idCard != null and idCard != ''">#{idCard},</if>
            <if test="idCardFront != null and idCardFront != ''">#{idCardFront},</if>
            <if test="idCardBack != null and idCardBack != ''">#{idCardBack},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="workStatus != null">#{workStatus},</if>
            <if test="creditScore != null">#{creditScore},</if>
            <if test="accountStatus != null">#{accountStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateRiderBase" parameterType="RiderBase">
        update rider_base
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="idCard != null and idCard != ''">id_card = #{idCard},</if>
            <if test="idCardFront != null and idCardFront != ''">id_card_front = #{idCardFront},</if>
            <if test="idCardBack != null and idCardBack != ''">id_card_back = #{idCardBack},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="workStatus != null">work_status = #{workStatus},</if>
            <if test="creditScore != null">credit_score = #{creditScore},</if>
            <if test="accountStatus != null">account_status = #{accountStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rider_base_id = #{riderBaseId}
    </update>

    <delete id="deleteRiderBaseByRiderBaseId" parameterType="Long">
        delete from rider_base where rider_base_id = #{riderBaseId}
    </delete>

    <delete id="deleteRiderBaseByRiderBaseIds" parameterType="String">
        delete from rider_base where rider_base_id in
        <foreach item="riderBaseId" collection="array" open="(" separator="," close=")">
            #{riderBaseId}
        </foreach>
    </delete>
</mapper>