<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.RiderOrderRelMapper">
    
    <resultMap type="RiderOrderRel" id="RiderOrderRelResult">
        <result property="riderOrderRelId"    column="rider_order_rel_id"    />
        <result property="riderBaseId"    column="rider_base_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="orderType"    column="order_type"    />
        <result property="receiveTime"    column="receive_time"    />
        <result property="pickUpTime"    column="pick_up_time"    />
        <result property="deliverTime"    column="deliver_time"    />
        <result property="deliveryStatus"    column="delivery_status"    />
        <result property="abnormalReason"    column="abnormal_reason"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRiderOrderRelVo">
        select rider_order_rel_id, rider_base_id, order_id, order_type, receive_time, pick_up_time, deliver_time, delivery_status, abnormal_reason, create_time, update_time from rider_order_rel
    </sql>

    <select id="selectRiderOrderRelList" parameterType="RiderOrderRel" resultMap="RiderOrderRelResult">
        <include refid="selectRiderOrderRelVo"/>
        <where>  
            <if test="riderBaseId != null "> and rider_base_id = #{riderBaseId}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="orderType != null "> and order_type = #{orderType}</if>
            <if test="receiveTime != null "> and receive_time = #{receiveTime}</if>
            <if test="pickUpTime != null "> and pick_up_time = #{pickUpTime}</if>
            <if test="deliverTime != null "> and deliver_time = #{deliverTime}</if>
            <if test="deliveryStatus != null "> and delivery_status = #{deliveryStatus}</if>
            <if test="abnormalReason != null  and abnormalReason != ''"> and abnormal_reason = #{abnormalReason}</if>
        </where>
    </select>
    
    <select id="selectRiderOrderRelByRiderOrderRelId" parameterType="Long" resultMap="RiderOrderRelResult">
        <include refid="selectRiderOrderRelVo"/>
        where rider_order_rel_id = #{riderOrderRelId}
    </select>

    <insert id="insertRiderOrderRel" parameterType="RiderOrderRel">
        insert into rider_order_rel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="riderOrderRelId != null">rider_order_rel_id,</if>
            <if test="riderBaseId != null">rider_base_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="orderType != null">order_type,</if>
            <if test="receiveTime != null">receive_time,</if>
            <if test="pickUpTime != null">pick_up_time,</if>
            <if test="deliverTime != null">deliver_time,</if>
            <if test="deliveryStatus != null">delivery_status,</if>
            <if test="abnormalReason != null">abnormal_reason,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="riderOrderRelId != null">#{riderOrderRelId},</if>
            <if test="riderBaseId != null">#{riderBaseId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="orderType != null">#{orderType},</if>
            <if test="receiveTime != null">#{receiveTime},</if>
            <if test="pickUpTime != null">#{pickUpTime},</if>
            <if test="deliverTime != null">#{deliverTime},</if>
            <if test="deliveryStatus != null">#{deliveryStatus},</if>
            <if test="abnormalReason != null">#{abnormalReason},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateRiderOrderRel" parameterType="RiderOrderRel">
        update rider_order_rel
        <trim prefix="SET" suffixOverrides=",">
            <if test="riderBaseId != null">rider_base_id = #{riderBaseId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="orderType != null">order_type = #{orderType},</if>
            <if test="receiveTime != null">receive_time = #{receiveTime},</if>
            <if test="pickUpTime != null">pick_up_time = #{pickUpTime},</if>
            <if test="deliverTime != null">deliver_time = #{deliverTime},</if>
            <if test="deliveryStatus != null">delivery_status = #{deliveryStatus},</if>
            <if test="abnormalReason != null">abnormal_reason = #{abnormalReason},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where rider_order_rel_id = #{riderOrderRelId}
    </update>

    <delete id="deleteRiderOrderRelByRiderOrderRelId" parameterType="Long">
        delete from rider_order_rel where rider_order_rel_id = #{riderOrderRelId}
    </delete>

    <delete id="deleteRiderOrderRelByRiderOrderRelIds" parameterType="String">
        delete from rider_order_rel where rider_order_rel_id in 
        <foreach item="riderOrderRelId" collection="array" open="(" separator="," close=")">
            #{riderOrderRelId}
        </foreach>
    </delete>
</mapper>