<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.RiderWalletMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="RiderWalletResult" type="com.ruoyi.platform.domain.RiderWallet">
        <result property="riderWalletId" column="rider_wallet_id"/>
        <result property="riderBaseId"   column="rider_base_id"/>
        <result property="balance"       column="balance"/>
        <result property="freezeAmount"  column="freeze_amount"/>
        <result property="createTime"    column="create_time"/>
        <result property="updateTime"    column="update_time"/>
    </resultMap>

    <select id="selectRiderWalletByRiderBaseId" resultMap="RiderWalletResult">
        SELECT rider_wallet_id, rider_base_id, balance, freeze_amount, create_time, update_time
        FROM rider_wallet
        WHERE rider_base_id = #{riderBaseId}
    </select>
</mapper>