<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GoodsEvaluationImageMapper">
    
    <resultMap type="GoodsEvaluationImage" id="GoodsEvaluationImageResult">
        <result property="goodsEvaluationImageId"    column="goods_evaluation_image_id"    />
        <result property="goodsEvaluationId"    column="goods_evaluation_id"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectGoodsEvaluationImageVo">
        select goods_evaluation_image_id, goods_evaluation_id, image_url, sort_order, create_time from goods_evaluation_image
    </sql>

    <select id="selectGoodsEvaluationImageList" parameterType="GoodsEvaluationImage" resultMap="GoodsEvaluationImageResult">
        <include refid="selectGoodsEvaluationImageVo"/>
        <where>  
            <if test="goodsEvaluationId != null "> and goods_evaluation_id = #{goodsEvaluationId}</if>
            <if test="imageUrl != null  and imageUrl != ''"> and image_url = #{imageUrl}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
        </where>
    </select>
    
    <select id="selectGoodsEvaluationImageByGoodsEvaluationImageId" parameterType="Long" resultMap="GoodsEvaluationImageResult">
        <include refid="selectGoodsEvaluationImageVo"/>
        where goods_evaluation_image_id = #{goodsEvaluationImageId}
    </select>

    <insert id="insertGoodsEvaluationImage" parameterType="GoodsEvaluationImage">
        insert into goods_evaluation_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsEvaluationImageId != null">goods_evaluation_image_id,</if>
            <if test="goodsEvaluationId != null">goods_evaluation_id,</if>
            <if test="imageUrl != null and imageUrl != ''">image_url,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsEvaluationImageId != null">#{goodsEvaluationImageId},</if>
            <if test="goodsEvaluationId != null">#{goodsEvaluationId},</if>
            <if test="imageUrl != null and imageUrl != ''">#{imageUrl},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateGoodsEvaluationImage" parameterType="GoodsEvaluationImage">
        update goods_evaluation_image
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodsEvaluationId != null">goods_evaluation_id = #{goodsEvaluationId},</if>
            <if test="imageUrl != null and imageUrl != ''">image_url = #{imageUrl},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where goods_evaluation_image_id = #{goodsEvaluationImageId}
    </update>

    <delete id="deleteGoodsEvaluationImageByGoodsEvaluationImageId" parameterType="Long">
        delete from goods_evaluation_image where goods_evaluation_image_id = #{goodsEvaluationImageId}
    </delete>

    <delete id="deleteGoodsEvaluationImageByGoodsEvaluationImageIds" parameterType="String">
        delete from goods_evaluation_image where goods_evaluation_image_id in 
        <foreach item="goodsEvaluationImageId" collection="array" open="(" separator="," close=")">
            #{goodsEvaluationImageId}
        </foreach>
    </delete>
</mapper>