<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PlatformAdminMapper">
    
    <resultMap type="PlatformAdmin" id="PlatformAdminResult">
        <result property="platformAdminId"    column="platform_admin_id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="realName"    column="real_name"    />
        <result property="phone"    column="phone"    />
        <result property="platformRoleId"    column="platform_role_id"    />
        <result property="accountStatus"    column="account_status"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="lastLoginIp"    column="last_login_ip"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPlatformAdminVo">
        select platform_admin_id, username, password, real_name, phone, platform_role_id, account_status, last_login_time, last_login_ip, create_time, update_time from platform_admin
    </sql>

    <select id="selectPlatformAdminList" parameterType="PlatformAdmin" resultMap="PlatformAdminResult">
        <include refid="selectPlatformAdminVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="platformRoleId != null "> and platform_role_id = #{platformRoleId}</if>
            <if test="accountStatus != null "> and account_status = #{accountStatus}</if>
            <if test="lastLoginTime != null "> and last_login_time = #{lastLoginTime}</if>
            <if test="lastLoginIp != null  and lastLoginIp != ''"> and last_login_ip = #{lastLoginIp}</if>
        </where>
    </select>
    
    <select id="selectPlatformAdminByPlatformAdminId" parameterType="Long" resultMap="PlatformAdminResult">
        <include refid="selectPlatformAdminVo"/>
        where platform_admin_id = #{platformAdminId}
    </select>

    <insert id="insertPlatformAdmin" parameterType="PlatformAdmin">
        insert into platform_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="platformAdminId != null">platform_admin_id,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="platformRoleId != null">platform_role_id,</if>
            <if test="accountStatus != null">account_status,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="lastLoginIp != null">last_login_ip,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platformAdminId != null">#{platformAdminId},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="platformRoleId != null">#{platformRoleId},</if>
            <if test="accountStatus != null">#{accountStatus},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="lastLoginIp != null">#{lastLoginIp},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePlatformAdmin" parameterType="PlatformAdmin">
        update platform_admin
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="platformRoleId != null">platform_role_id = #{platformRoleId},</if>
            <if test="accountStatus != null">account_status = #{accountStatus},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="lastLoginIp != null">last_login_ip = #{lastLoginIp},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where platform_admin_id = #{platformAdminId}
    </update>

    <delete id="deletePlatformAdminByPlatformAdminId" parameterType="Long">
        delete from platform_admin where platform_admin_id = #{platformAdminId}
    </delete>

    <delete id="deletePlatformAdminByPlatformAdminIds" parameterType="String">
        delete from platform_admin where platform_admin_id in 
        <foreach item="platformAdminId" collection="array" open="(" separator="," close=")">
            #{platformAdminId}
        </foreach>
    </delete>
</mapper>