<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PlatformWorkorderMapper">
    
    <resultMap type="PlatformWorkorder" id="PlatformWorkorderResult">
        <result property="platformWorkorderId"    column="platform_workorder_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userType"    column="user_type"    />
        <result property="userNickname"    column="user_nickname"    />
        <result property="content"    column="content"    />
        <result property="imgUrls"    column="img_urls"    />
        <result property="workorderType"    column="workorder_type"    />
        <result property="handlerId"    column="handler_id"    />
        <result property="handlerName"    column="handler_name"    />
        <result property="handleStatus"    column="handle_status"    />
        <result property="handleResult"    column="handle_result"    />
        <result property="createTime"    column="create_time"    />
        <result property="handleTime"    column="handle_time"    />
        <result property="closeTime"    column="close_time"    />
    </resultMap>

    <sql id="selectPlatformWorkorderVo">
        select platform_workorder_id, order_id, user_id, user_type, user_nickname, content, img_urls, workorder_type, handler_id, handler_name, handle_status, handle_result, create_time, handle_time, close_time from platform_workorder
    </sql>

    <select id="selectPlatformWorkorderList" parameterType="PlatformWorkorder" resultMap="PlatformWorkorderResult">
        <include refid="selectPlatformWorkorderVo"/>
        <where>  
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userType != null "> and user_type = #{userType}</if>
            <if test="userNickname != null  and userNickname != ''"> and user_nickname like concat('%', #{userNickname}, '%')</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="imgUrls != null  and imgUrls != ''"> and img_urls = #{imgUrls}</if>
            <if test="workorderType != null "> and workorder_type = #{workorderType}</if>
            <if test="handlerId != null "> and handler_id = #{handlerId}</if>
            <if test="handlerName != null  and handlerName != ''"> and handler_name like concat('%', #{handlerName}, '%')</if>
            <if test="handleStatus != null "> and handle_status = #{handleStatus}</if>
            <if test="handleResult != null  and handleResult != ''"> and handle_result = #{handleResult}</if>
            <if test="handleTime != null "> and handle_time = #{handleTime}</if>
            <if test="closeTime != null "> and close_time = #{closeTime}</if>
        </where>
    </select>
    
    <select id="selectPlatformWorkorderByPlatformWorkorderId" parameterType="Long" resultMap="PlatformWorkorderResult">
        <include refid="selectPlatformWorkorderVo"/>
        where platform_workorder_id = #{platformWorkorderId}
    </select>

    <insert id="insertPlatformWorkorder" parameterType="PlatformWorkorder">
        insert into platform_workorder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="platformWorkorderId != null">platform_workorder_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userType != null">user_type,</if>
            <if test="userNickname != null and userNickname != ''">user_nickname,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="imgUrls != null">img_urls,</if>
            <if test="workorderType != null">workorder_type,</if>
            <if test="handlerId != null">handler_id,</if>
            <if test="handlerName != null">handler_name,</if>
            <if test="handleStatus != null">handle_status,</if>
            <if test="handleResult != null">handle_result,</if>
            <if test="createTime != null">create_time,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="closeTime != null">close_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platformWorkorderId != null">#{platformWorkorderId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userType != null">#{userType},</if>
            <if test="userNickname != null and userNickname != ''">#{userNickname},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="imgUrls != null">#{imgUrls},</if>
            <if test="workorderType != null">#{workorderType},</if>
            <if test="handlerId != null">#{handlerId},</if>
            <if test="handlerName != null">#{handlerName},</if>
            <if test="handleStatus != null">#{handleStatus},</if>
            <if test="handleResult != null">#{handleResult},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="closeTime != null">#{closeTime},</if>
         </trim>
    </insert>

    <update id="updatePlatformWorkorder" parameterType="PlatformWorkorder">
        update platform_workorder
        <trim prefix="SET" suffixOverrides=",">
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userType != null">user_type = #{userType},</if>
            <if test="userNickname != null and userNickname != ''">user_nickname = #{userNickname},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="imgUrls != null">img_urls = #{imgUrls},</if>
            <if test="workorderType != null">workorder_type = #{workorderType},</if>
            <if test="handlerId != null">handler_id = #{handlerId},</if>
            <if test="handlerName != null">handler_name = #{handlerName},</if>
            <if test="handleStatus != null">handle_status = #{handleStatus},</if>
            <if test="handleResult != null">handle_result = #{handleResult},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="closeTime != null">close_time = #{closeTime},</if>
        </trim>
        where platform_workorder_id = #{platformWorkorderId}
    </update>

    <delete id="deletePlatformWorkorderByPlatformWorkorderId" parameterType="Long">
        delete from platform_workorder where platform_workorder_id = #{platformWorkorderId}
    </delete>

    <delete id="deletePlatformWorkorderByPlatformWorkorderIds" parameterType="String">
        delete from platform_workorder where platform_workorder_id in 
        <foreach item="platformWorkorderId" collection="array" open="(" separator="," close=")">
            #{platformWorkorderId}
        </foreach>
    </delete>
</mapper>