<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.PlatformPermissionMapper">
    
    <resultMap type="PlatformPermission" id="PlatformPermissionResult">
        <result property="platformPermissionId"    column="platform_permission_id"    />
        <result property="permName"    column="perm_name"    />
        <result property="permKey"    column="perm_key"    />
        <result property="permType"    column="perm_type"    />
        <result property="parentPermId"    column="parent_perm_id"    />
        <result property="menuPath"    column="menu_path"    />
        <result property="sort"    column="sort"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPlatformPermissionVo">
        select platform_permission_id, perm_name, perm_key, perm_type, parent_perm_id, menu_path, sort, create_time, update_time from platform_permission
    </sql>

    <select id="selectPlatformPermissionList" parameterType="PlatformPermission" resultMap="PlatformPermissionResult">
        <include refid="selectPlatformPermissionVo"/>
        <where>  
            <if test="permName != null  and permName != ''"> and perm_name like concat('%', #{permName}, '%')</if>
            <if test="permKey != null  and permKey != ''"> and perm_key = #{permKey}</if>
            <if test="permType != null "> and perm_type = #{permType}</if>
            <if test="parentPermId != null "> and parent_perm_id = #{parentPermId}</if>
            <if test="menuPath != null  and menuPath != ''"> and menu_path = #{menuPath}</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>
    
    <select id="selectPlatformPermissionByPlatformPermissionId" parameterType="Long" resultMap="PlatformPermissionResult">
        <include refid="selectPlatformPermissionVo"/>
        where platform_permission_id = #{platformPermissionId}
    </select>

    <insert id="insertPlatformPermission" parameterType="PlatformPermission">
        insert into platform_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="platformPermissionId != null">platform_permission_id,</if>
            <if test="permName != null and permName != ''">perm_name,</if>
            <if test="permKey != null and permKey != ''">perm_key,</if>
            <if test="permType != null">perm_type,</if>
            <if test="parentPermId != null">parent_perm_id,</if>
            <if test="menuPath != null">menu_path,</if>
            <if test="sort != null">sort,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="platformPermissionId != null">#{platformPermissionId},</if>
            <if test="permName != null and permName != ''">#{permName},</if>
            <if test="permKey != null and permKey != ''">#{permKey},</if>
            <if test="permType != null">#{permType},</if>
            <if test="parentPermId != null">#{parentPermId},</if>
            <if test="menuPath != null">#{menuPath},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePlatformPermission" parameterType="PlatformPermission">
        update platform_permission
        <trim prefix="SET" suffixOverrides=",">
            <if test="permName != null and permName != ''">perm_name = #{permName},</if>
            <if test="permKey != null and permKey != ''">perm_key = #{permKey},</if>
            <if test="permType != null">perm_type = #{permType},</if>
            <if test="parentPermId != null">parent_perm_id = #{parentPermId},</if>
            <if test="menuPath != null">menu_path = #{menuPath},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where platform_permission_id = #{platformPermissionId}
    </update>

    <delete id="deletePlatformPermissionByPlatformPermissionId" parameterType="Long">
        delete from platform_permission where platform_permission_id = #{platformPermissionId}
    </delete>

    <delete id="deletePlatformPermissionByPlatformPermissionIds" parameterType="String">
        delete from platform_permission where platform_permission_id in 
        <foreach item="platformPermissionId" collection="array" open="(" separator="," close=")">
            #{platformPermissionId}
        </foreach>
    </delete>
</mapper>