<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.RiderEvaluationMapper">
    
    <resultMap type="RiderEvaluation" id="RiderEvaluationResult">
        <result property="riderEvaluationId"    column="rider_evaluation_id"    />
        <result property="riderBaseId"    column="rider_base_id"    />
        <result property="userId"    column="user_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="rating"    column="rating"    />
        <result property="speedScore"    column="speed_score"    />
        <result property="attitudeScore"    column="attitude_score"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectRiderEvaluationVo">
        select rider_evaluation_id, rider_base_id, user_id, order_id, rating, speed_score, attitude_score, content, create_time from rider_evaluation
    </sql>

    <select id="selectRiderEvaluationList" parameterType="RiderEvaluation" resultMap="RiderEvaluationResult">
        <include refid="selectRiderEvaluationVo"/>
        <where>  
            <if test="riderBaseId != null "> and rider_base_id = #{riderBaseId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="rating != null "> and rating = #{rating}</if>
            <if test="speedScore != null "> and speed_score = #{speedScore}</if>
            <if test="attitudeScore != null "> and attitude_score = #{attitudeScore}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectRiderEvaluationByRiderEvaluationId" parameterType="Long" resultMap="RiderEvaluationResult">
        <include refid="selectRiderEvaluationVo"/>
        where rider_evaluation_id = #{riderEvaluationId}
    </select>

    <insert id="insertRiderEvaluation" parameterType="RiderEvaluation">
        insert into rider_evaluation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="riderEvaluationId != null">rider_evaluation_id,</if>
            <if test="riderBaseId != null">rider_base_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="rating != null">rating,</if>
            <if test="speedScore != null">speed_score,</if>
            <if test="attitudeScore != null">attitude_score,</if>
            <if test="content != null">content,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="riderEvaluationId != null">#{riderEvaluationId},</if>
            <if test="riderBaseId != null">#{riderBaseId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="rating != null">#{rating},</if>
            <if test="speedScore != null">#{speedScore},</if>
            <if test="attitudeScore != null">#{attitudeScore},</if>
            <if test="content != null">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateRiderEvaluation" parameterType="RiderEvaluation">
        update rider_evaluation
        <trim prefix="SET" suffixOverrides=",">
            <if test="riderBaseId != null">rider_base_id = #{riderBaseId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="rating != null">rating = #{rating},</if>
            <if test="speedScore != null">speed_score = #{speedScore},</if>
            <if test="attitudeScore != null">attitude_score = #{attitudeScore},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where rider_evaluation_id = #{riderEvaluationId}
    </update>

    <delete id="deleteRiderEvaluationByRiderEvaluationId" parameterType="Long">
        delete from rider_evaluation where rider_evaluation_id = #{riderEvaluationId}
    </delete>

    <delete id="deleteRiderEvaluationByRiderEvaluationIds" parameterType="String">
        delete from rider_evaluation where rider_evaluation_id in 
        <foreach item="riderEvaluationId" collection="array" open="(" separator="," close=")">
            #{riderEvaluationId}
        </foreach>
    </delete>
</mapper>