<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserWalletMapper">
    
    <resultMap type="UserWallet" id="UserWalletResult">
        <result property="userWalletId"    column="user_wallet_id"    />
        <result property="userBaseId"    column="user_base_id"    />
        <result property="balance"    column="balance"    />
        <result property="freezeAmount"    column="freeze_amount"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserWalletVo">
        select user_wallet_id, user_base_id, balance, freeze_amount, create_time, update_time from user_wallet
    </sql>

    <select id="selectUserWalletList" parameterType="UserWallet" resultMap="UserWalletResult">
        <include refid="selectUserWalletVo"/>
        <where>  
            <if test="userBaseId != null "> and user_base_id = #{userBaseId}</if>
            <if test="balance != null "> and balance = #{balance}</if>
            <if test="freezeAmount != null "> and freeze_amount = #{freezeAmount}</if>
        </where>
    </select>
    
    <select id="selectUserWalletByUserWalletId" parameterType="Long" resultMap="UserWalletResult">
        <include refid="selectUserWalletVo"/>
        where user_wallet_id = #{userWalletId}
    </select>

    <insert id="insertUserWallet" parameterType="UserWallet">
        insert into user_wallet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userWalletId != null">user_wallet_id,</if>
            <if test="userBaseId != null">user_base_id,</if>
            <if test="balance != null">balance,</if>
            <if test="freezeAmount != null">freeze_amount,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userWalletId != null">#{userWalletId},</if>
            <if test="userBaseId != null">#{userBaseId},</if>
            <if test="balance != null">#{balance},</if>
            <if test="freezeAmount != null">#{freezeAmount},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserWallet" parameterType="UserWallet">
        update user_wallet
        <trim prefix="SET" suffixOverrides=",">
            <if test="userBaseId != null">user_base_id = #{userBaseId},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="freezeAmount != null">freeze_amount = #{freezeAmount},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_wallet_id = #{userWalletId}
    </update>

    <delete id="deleteUserWalletByUserWalletId" parameterType="Long">
        delete from user_wallet where user_wallet_id = #{userWalletId}
    </delete>

    <delete id="deleteUserWalletByUserWalletIds" parameterType="String">
        delete from user_wallet where user_wallet_id in 
        <foreach item="userWalletId" collection="array" open="(" separator="," close=")">
            #{userWalletId}
        </foreach>
    </delete>
</mapper>