<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.UserPreferenceTagMapper">
    
    <resultMap type="UserPreferenceTag" id="UserPreferenceTagResult">
        <result property="userPreferenceTagId"    column="user_preference_tag_id"    />
        <result property="userBaseId"    column="user_base_id"    />
        <result property="tagCode"    column="tag_code"    />
        <result property="tagName"    column="tag_name"    />
        <result property="tagType"    column="tag_type"    />
        <result property="score"    column="score"    />
        <result property="source"    column="source"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserPreferenceTagVo">
        select user_preference_tag_id, user_base_id, tag_code, tag_name, tag_type, score, source, create_time, update_time from user_preference_tag
    </sql>

    <select id="selectUserPreferenceTagList" parameterType="UserPreferenceTag" resultMap="UserPreferenceTagResult">
        <include refid="selectUserPreferenceTagVo"/>
        <where>  
            <if test="userBaseId != null "> and user_base_id = #{userBaseId}</if>
            <if test="tagCode != null  and tagCode != ''"> and tag_code = #{tagCode}</if>
            <if test="tagName != null  and tagName != ''"> and tag_name like concat('%', #{tagName}, '%')</if>
            <if test="tagType != null  and tagType != ''"> and tag_type = #{tagType}</if>
            <if test="score != null "> and score = #{score}</if>
            <if test="source != null "> and source = #{source}</if>
        </where>
    </select>
    
    <select id="selectUserPreferenceTagByUserPreferenceTagId" parameterType="Long" resultMap="UserPreferenceTagResult">
        <include refid="selectUserPreferenceTagVo"/>
        where user_preference_tag_id = #{userPreferenceTagId}
    </select>

    <insert id="insertUserPreferenceTag" parameterType="UserPreferenceTag">
        insert into user_preference_tag
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userPreferenceTagId != null">user_preference_tag_id,</if>
            <if test="userBaseId != null">user_base_id,</if>
            <if test="tagCode != null and tagCode != ''">tag_code,</if>
            <if test="tagName != null and tagName != ''">tag_name,</if>
            <if test="tagType != null and tagType != ''">tag_type,</if>
            <if test="score != null">score,</if>
            <if test="source != null">source,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userPreferenceTagId != null">#{userPreferenceTagId},</if>
            <if test="userBaseId != null">#{userBaseId},</if>
            <if test="tagCode != null and tagCode != ''">#{tagCode},</if>
            <if test="tagName != null and tagName != ''">#{tagName},</if>
            <if test="tagType != null and tagType != ''">#{tagType},</if>
            <if test="score != null">#{score},</if>
            <if test="source != null">#{source},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateUserPreferenceTag" parameterType="UserPreferenceTag">
        update user_preference_tag
        <trim prefix="SET" suffixOverrides=",">
            <if test="userBaseId != null">user_base_id = #{userBaseId},</if>
            <if test="tagCode != null and tagCode != ''">tag_code = #{tagCode},</if>
            <if test="tagName != null and tagName != ''">tag_name = #{tagName},</if>
            <if test="tagType != null and tagType != ''">tag_type = #{tagType},</if>
            <if test="score != null">score = #{score},</if>
            <if test="source != null">source = #{source},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_preference_tag_id = #{userPreferenceTagId}
    </update>

    <delete id="deleteUserPreferenceTagByUserPreferenceTagId" parameterType="Long">
        delete from user_preference_tag where user_preference_tag_id = #{userPreferenceTagId}
    </delete>

    <delete id="deleteUserPreferenceTagByUserPreferenceTagIds" parameterType="String">
        delete from user_preference_tag where user_preference_tag_id in 
        <foreach item="userPreferenceTagId" collection="array" open="(" separator="," close=")">
            #{userPreferenceTagId}
        </foreach>
    </delete>
</mapper>