<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.UserAddressMapper">
    
    <resultMap type="UserAddress" id="UserAddressResult">
        <result property="userAddressId"    column="user_address_id"    />
        <result property="userBaseId"    column="user_base_id"    />
        <result property="receiver"    column="receiver"    />
        <result property="phone"    column="phone"    />
        <result property="province"    column="province"    />
        <result property="city"    column="city"    />
        <result property="district"    column="district"    />
        <result property="detailAddress"    column="detail_address"    />
        <result property="addressTag"    column="address_tag"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="isDefault"    column="is_default"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectUserAddressVo">
        select user_address_id, user_base_id, receiver, phone, province, city, district, detail_address, address_tag, longitude, latitude, is_default, create_time, update_time from user_address
    </sql>

    <select id="selectUserAddressList" parameterType="UserAddress" resultMap="UserAddressResult">
        <include refid="selectUserAddressVo"/>
        <where>  
            <if test="userBaseId != null "> and user_base_id = #{userBaseId}</if>
            <if test="receiver != null  and receiver != ''"> and receiver = #{receiver}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="province != null  and province != ''"> and province = #{province}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="district != null  and district != ''"> and district = #{district}</if>
            <if test="detailAddress != null  and detailAddress != ''"> and detail_address = #{detailAddress}</if>
            <if test="addressTag != null  and addressTag != ''"> and address_tag = #{addressTag}</if>
            <if test="longitude != null "> and longitude = #{longitude}</if>
            <if test="latitude != null "> and latitude = #{latitude}</if>
            <if test="isDefault != null "> and is_default = #{isDefault}</if>
        </where>
    </select>
    
    <select id="selectUserAddressByUserAddressId" parameterType="Long" resultMap="UserAddressResult">
        <include refid="selectUserAddressVo"/>
        where user_address_id = #{userAddressId}
    </select>

    <insert id="insertUserAddress" parameterType="UserAddress">
        <selectKey
                keyProperty="userAddressId"
                resultType="java.lang.Long"
                order="BEFORE">
            SELECT ${@com.ruoyi.platform.chat.utils.SnowflakeIdGenerator@getInstance().nextId()}
        </selectKey>
        insert into user_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <!-- 移除user_address_id的判断，因为ID由雪花算法生成，必然存在 -->
            user_address_id,
            <if test="userBaseId != null">user_base_id,</if>
            <if test="receiver != null and receiver != ''">receiver,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="province != null and province != ''">province,</if>
            <if test="city != null and city != ''">city,</if>
            <if test="district != null and district != ''">district,</if>
            <if test="detailAddress != null and detailAddress != ''">detail_address,</if>
            <if test="addressTag != null">address_tag,</if>
            <if test="longitude != null">longitude,</if>
            <if test="latitude != null">latitude,</if>
            <if test="isDefault != null">is_default,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{userAddressId}, <!-- 直接使用雪花算法生成的ID -->
            <if test="userBaseId != null">#{userBaseId},</if>
            <if test="receiver != null and receiver != ''">#{receiver},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="province != null and province != ''">#{province},</if>
            <if test="city != null and city != ''">#{city},</if>
            <if test="district != null and district != ''">#{district},</if>
            <if test="detailAddress != null and detailAddress != ''">#{detailAddress},</if>
            <if test="addressTag != null">#{addressTag},</if>
            <if test="longitude != null">#{longitude},</if>
            <if test="latitude != null">#{latitude},</if>
            <if test="isDefault != null">#{isDefault},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateUserAddress" parameterType="UserAddress">
        update user_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="userBaseId != null">user_base_id = #{userBaseId},</if>
            <if test="receiver != null and receiver != ''">receiver = #{receiver},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="province != null and province != ''">province = #{province},</if>
            <if test="city != null and city != ''">city = #{city},</if>
            <if test="district != null and district != ''">district = #{district},</if>
            <if test="detailAddress != null and detailAddress != ''">detail_address = #{detailAddress},</if>
            <if test="addressTag != null">address_tag = #{addressTag},</if>
            <if test="longitude != null">longitude = #{longitude},</if>
            <if test="latitude != null">latitude = #{latitude},</if>
            <if test="isDefault != null">is_default = #{isDefault},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_address_id = #{userAddressId}
    </update>

    <delete id="deleteUserAddressByUserAddressId" parameterType="Long">
        delete from user_address where user_address_id = #{userAddressId}
    </delete>

    <delete id="deleteUserAddressByUserAddressIds" parameterType="String">
        delete from user_address where user_address_id in 
        <foreach item="userAddressId" collection="array" open="(" separator="," close=")">
            #{userAddressId}
        </foreach>
    </delete>

    <update id="updateAllDefaultToZero" parameterType="Long">
        update user_address set is_default = 0 where user_base_id = #{userBaseId}
    </update>
</mapper>