<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.platform.mapper.UserBaseMapper">

    <resultMap type="UserBase" id="UserBaseResult">
        <result property="userBaseId"    column="user_base_id"    />
        <result property="userId"        column="user_id"         />
        <result property="username"      column="username"        />
        <result property="password"      column="password"        />
        <result property="nickname"      column="nickname"        />
        <result property="profile"       column="profile"         />
        <result property="avatar"        column="avatar"          />
        <result property="studentId"     column="student_id"      />
        <result property="school"        column="school"          />
        <result property="college"       column="college"         />
        <result property="major"         column="major"           />
        <result property="grade"         column="grade"           />
        <result property="gender"        column="gender"          />
        <result property="phone"         column="phone"           />
        <result property="creditScore"   column="credit_score"    />
        <result property="accountStatus" column="account_status"  />
        <result property="lastLoginTime" column="last_login_time" />
        <result property="lastLoginIp"   column="last_login_ip"   />
        <result property="createTime"    column="create_time"     />
        <result property="updateTime"    column="update_time"     />
        <result property="payPassword"   column="pay_password"    />
    </resultMap>

    <sql id="selectUserBaseVo">
        select user_base_id, user_id, username, password, nickname, profile, avatar,
               student_id, school, college, major, grade, gender, phone, credit_score,
               account_status, last_login_time, last_login_ip, create_time, update_time,
               pay_password
        from user_base
    </sql>

    <select id="selectUserBaseList" parameterType="UserBase" resultMap="UserBaseResult">
        <include refid="selectUserBaseVo"/>
        <where>
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="nickname != null  and nickname != ''"> and nickname like concat('%', #{nickname}, '%')</if>
            <if test="profile != null  and profile != ''"> and profile like concat('%', #{profile}, '%')</if>
            <if test="avatar != null  and avatar != ''"> and avatar = #{avatar}</if>
            <if test="studentId != null  and studentId != ''"> and student_id = #{studentId}</if>
            <if test="school != null  and school != ''"> and school like concat('%', #{school}, '%')</if>
            <if test="college != null  and college != ''"> and college = #{college}</if>
            <if test="major != null  and major != ''"> and major = #{major}</if>
            <if test="grade != null  and grade != ''"> and grade = #{grade}</if>
            <if test="gender != null "> and gender = #{gender}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="creditScore != null "> and credit_score = #{creditScore}</if>
            <if test="accountStatus != null "> and account_status = #{accountStatus}</if>
            <if test="lastLoginTime != null "> and last_login_time = #{lastLoginTime}</if>
            <if test="lastLoginIp != null  and lastLoginIp != ''"> and last_login_ip = #{lastLoginIp}</if>
        </where>
    </select>

    <select id="selectUserBaseByPhone" parameterType="String" resultMap="UserBaseResult">
        <include refid="selectUserBaseVo"/>
        where phone = #{phone}
    </select>

    <select id="selectUserBaseByUserBaseId" parameterType="Long" resultMap="UserBaseResult">
        <include refid="selectUserBaseVo"/>
        where user_base_id = #{userBaseId}
    </select>

    <insert id="insertUserBase" parameterType="UserBase" useGeneratedKeys="true" keyProperty="userBaseId">
        insert into user_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userBaseId != null">user_base_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="nickname != null and nickname != ''">nickname,</if>
            <if test="profile != null and profile != ''">profile,</if>
            <if test="avatar != null">avatar,</if>
            <if test="studentId != null and studentId != ''">student_id,</if>
            <if test="school != null and school != ''">school,</if>
            <if test="college != null and college != ''">college,</if>
            <if test="major != null and major != ''">major,</if>
            <if test="grade != null and grade != ''">grade,</if>
            <if test="gender != null">gender,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="creditScore != null">credit_score,</if>
            <if test="accountStatus != null">account_status,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="lastLoginIp != null">last_login_ip,</if>
            <if test="payPassword != null and payPassword != ''">pay_password,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userBaseId != null">#{userBaseId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="nickname != null and nickname != ''">#{nickname},</if>
            <if test="profile != null and profile != ''">#{profile},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="school != null and school != ''">#{school},</if>
            <if test="college != null and college != ''">#{college},</if>
            <if test="major != null and major != ''">#{major},</if>
            <if test="grade != null and grade != ''">#{grade},</if>
            <if test="gender != null">#{gender},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="creditScore != null">#{creditScore},</if>
            <if test="accountStatus != null">#{accountStatus},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="lastLoginIp != null">#{lastLoginIp},</if>
            <if test="payPassword != null and payPassword != ''">#{payPassword},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateUserBase" parameterType="UserBase">
        update user_base
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="nickname != null and nickname != ''">nickname = #{nickname},</if>
            <if test="profile != null">profile = #{profile},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="studentId != null and studentId != ''">student_id = #{studentId},</if>
            <if test="school != null">school = #{school},</if>
            <if test="college != null and college != ''">college = #{college},</if>
            <if test="major != null and major != ''">major = #{major},</if>
            <if test="grade != null and grade != ''">grade = #{grade},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="creditScore != null">credit_score = #{creditScore},</if>
            <if test="accountStatus != null">account_status = #{accountStatus},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="lastLoginIp != null">last_login_ip = #{lastLoginIp},</if>
            <if test="payPassword != null">pay_password = #{payPassword},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where user_base_id = #{userBaseId}
    </update>

    <!-- 根据电话号码查询用户ID -->
    <select id="selectUserIdByPhone" parameterType="String" resultType="Long">
        SELECT user_base_id
        FROM user_base
        WHERE phone = #{phone}
    </select>

    <delete id="deleteUserBaseByUserBaseId" parameterType="Long">
        delete from user_base where user_base_id = #{userBaseId}
    </delete>

    <delete id="deleteUserBaseByUserBaseIds" parameterType="String">
        delete from user_base where user_base_id in
        <foreach item="userBaseId" collection="array" open="(" separator="," close=")">
            #{userBaseId}
        </foreach>
    </delete>
</mapper>